<main class="blog blog__post" role="main">
<section>

	<h1>{{ page.title | markdownify | strip_html | trim }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>

	<p class="post-timestamp"><time datetime="{{ page.date }}">{{ page.date | date: '%-d %B, %Y' }}</time></p>

	<article lang="en">
		{% if page.discretion == true %}
		{% include themes/carloseriksson/warning.html %}
		{% endif %}
		<p class="hero">
		{{ page.excerpt | markdownify | strip_html | trim }}
		</p>
		{{ content }}
	</article>

	<hr>

		{% unless page.tags == empty %}

	<!-- site.tags[tag].size -->

	{% assign tags_max = 0 %}
{% for tag in page.tags %}
<!-- <p>{{ tag }}</p> -->
    {% if site.tags[tag].size > tags_max %}
        {% assign tags_max = site.tags[tag].size %}
<!--         <p>å säg hej -> {{ site.tags[tag].size }} assigned {{ tags_max }}</p> -->
    {% endif %}
{% endfor %}

<ul class="display-inline">
{% for i in (1..tags_max) reversed %}
    {% for tag in page.tags %}
        {% if site.tags[tag].size == i %}
        <li>
            <a class="tag" href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag | replace: ' ', '+' }}">{{ tag }}{% if site.tags[tag].size > 1 %}<span>&nbsp;&times;&nbsp;{{ site.tags[tag].size }}</span>{% endif %}</a>{% unless forloop.last %} {% endunless %}
        </li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>

	{% endunless %}


	<!-- {% unless page.tags == empty %}
	<ul class="display-inline">
		<li><i class="icon-tags"></i></li>
		{% assign tags_list = page.tags %}
		{% include JB/tags_list %}
	</ul>
	{% endunless %}   -->

	<hr>

	<div class="pagination">
		<ul class="display-inline align-center">
			{% if page.previous.category contains "blog" %}
			<li class="pagination__item"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
			{% else %}
			<li class="pagination__item pagination__item--is-disabled">That&rsquo;s it.</li>
			{% endif %}
			<li>|</li>
			{% if page.next %}
			<li class="pagination__item"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a></li>
			{% else %}
			<li class="pagination__item pagination__item--is-disabled">That&rsquo;s it.
				{% endif %}
			</ul>
		</div>

		<hr>

		{% include JB/comments %}

</section>
</main>