/* ==========================================================================
Normalize
========================================================================= */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}a:focus{outline:thin dotted;}a:hover,a:active{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;white-space:normal;margin-left:-7px;padding:0;}/* Form field edit starts here */button,input,select,textarea{font-size:inherit;font-family:inherit;line-height:inherit;vertical-align:middle;margin:0;}button,input{line-height:normal;}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{height:13px;width:13px;padding:0;}input[type=search]{-webkit-appearance:textfield;}input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure,form{margin:0;}p,pre,dl,menu,ol,ul{margin:1em 0;}

/* ==========================================================================
Section comment block
========================================================================= */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:  border-box;
	box-sizing:     border-box;
	-webkit-transition: all 150ms ease-in-out 0ms;
	transition:     all 150ms ease-in-out 0ms;
}
::-moz-selection {
	background: #a9d22d;
	text-shadow: none;
	color:white;
}
::selection {
	background: #a9d22d;
	text-shadow: none;
	color:white;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	background: url(../img/distressed-bg-top-left-alt.png) no-repeat,
				url(../img/distressed-bg-bottom-right-alt.png) no-repeat right bottom transparent;
}
html,
body {
	width: 100%;
}

body {
	min-height: 100%;
	font: 400 18px/1.6180 "Merriweather", Georgia, serif;

	background: transparent;
	color: hsla(0,6%,12%,1);

	/*background-image: linear-gradient(white 99%, black 100%);*/

	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	counter-reset: figureOrdinal;

	/* IE10 | Gives scrollbars that appear during touch and keyboard interactions, and fade out again after a few seconds. */
	-ms-overflow-style: -ms-autohiding-scrollbar;

	-moz-font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
	-moz-font-feature-settings: "liga=1, dlig=1, hlig=1, clig=1";
	-ms-font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
	-o-font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
	-webkit-font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
	font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1; 
}

/* ==========================================================================
Block Elements
========================================================================= */

hr {
	display: block;
	height: 0.0556em;
	border: 0;
	border-top: .0556em solid #d3d3d3;
	margin: 0 0 1.618em 0;
	padding: 0;
}

article hr {
	content: "!";
}

/* ==========================================================================
Inline Elements
========================================================================= */

a {
	color:hsla(6,65%,50%,1);
	text-decoration: none;
	position: relative;
	border-bottom: 1px dotted transparent;
	-webkit-transition: all 150ms ease-in-out 0ms;
	transition:     all 150ms ease-in-out 0ms;
}
a:visited {

}
a:hover,
a:focus,
a:active {
	padding-bottom:.1em;
	border-bottom:1px dotted hsla(0,6%,12%,1);
	-webkit-transition: all 150ms ease-in-out 0ms;
	transition:     all 150ms ease-in-out 0ms;
}


/* Special links */

main a[href^="http://en.wiki"]:after,
main a[href^="https://www.youtube"]:after,
main a[href^="https://"]:after,
main a[href^="http://"]:after {
	content: " ";
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	width: 10px; height: 10px;
	margin: 0 .25em 0 .25em;
	background-image: url(../img/spark-icons.png);
	background-repeat: no-repeat;
	background-size: auto 10px;
	background-position: -10px 0;
	/*background-color: red;*/
}

main a[href^="http://en.wiki"]:after {
	background-position: 0 0;
}
main a[href^="https://www.youtube"]:after {
	background-position: -10px 0;
}

p,
ul,
ol {
	margin: 0 0 1.618em 0;

	-ms-word-break: normal;
	word-break: normal;

	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
ul,
ol {
	padding: 0;
}

small,
time {
	font-size:.7778em;
	line-height: 2.0803em;
}
time {
	color: hsla(6,0%,60%,1);
	letter-spacing: .0714em;
	text-transform: uppercase;
	/*white-space: pre-wrap;*/
}

abbr[title] {
	font-size: .7778em;
	line-height: 2.0803em;
	letter-spacing: .1em;
	border-bottom: .1em dotted hsla(6,0%,83%,1);
	cursor: help;
}

em {}

del { color: hsla(6,3%,60%,1); }
ins { text-decoration: none; border-bottom: 1px dashed hsla(6,3%,60%,1); }

/* ==========================================================================
   Blockquote
   ========================================================================= */

blockquote {
	margin:3.236em 1.6180em 3.236em 3.236em;
	color: hsla(6,3%,60%,1);
	margin: 0 0 1.6180em 0;
	padding: 0 0 0 1.6180em;
	font-style: italic;
	position: relative;
	border-left: 0.1667em solid hsla(6,65%,50%,1);
}
blockquote img {
	margin:0 0 1.6180em 0;
}
blockquote p {

}
cite {
	display: block;
	text-align: right;
	color: #d3d3d3;
}

/* ==========================================================================
Figure & Figcaption
========================================================================= */

figure {
	width: 100%;
	display: table;
	margin: 0 0 1.618em 0;
}
figure img, figcaption {
	display: block;
	width: 100%;
}

figure img {
	margin:0 0 1.618em 0;
}
figcaption {
	font-size:.7778em;
	line-height: 2.0803em;
	font-style: italic;
}
figcaption:before {
	content: "Figure\0000a0" counter(figureOrdinal)".\0000a0";
	counter-increment: figureOrdinal;
	font-variant: small-caps;
	color: hsla(6,3%,60%,1);
}

.media-video {
	display: block;
	height: 0;
	padding-top: 1.6180em;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
}
.media-video.aspect4x3 {
	padding-bottom: 75%;
}
.media-video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0; left: 0;
}

/* ==========================================================================
Headers
========================================================================= */

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	white-space: pre-wrap;
}
h1 {
	font-size: 2.6667em;
	line-height: 1;
	margin:0 0 1.427em 0;
}
h2 {
	font-size: 2em;
	line-height: 1.05;
	margin: 1.0329em 0 .3443em 0;
}
h3 {
	font-size: 1.3333em;
	font-weight: 500;
	line-height: 1.2135;
	margin: 1.8204em 0 .6068em 0; 
}

/* ==========================================================================
   Tags/Topics
   ========================================================================= */

.tag {
	display: inline-block;
	white-space: nowrap;
	font-size:0.6667em;
	border:0;
	background:white;
	color:hsla(0,6%,12%,1);
	background: hsla(6,0%,83%,1);
	margin:0 1.2135em 0 0;
	padding:0 .4045em;
}
.tag:visited {

}
.tag:hover,
.tag:focus,
.tag:active {
	padding:.4045em .809em;
	margin: -.809em .809em -.809em -.4045em;
	border-radius:  .809em .809em .809em 0;
	/*padding:.4045em;*/
	/*margin:-.4045em .809em -.4045em 0;*/
	/*background:hsla(6,65%,50%,1);*/
	color:hsla(6,65%,50%,1);
	background: hsla(6,65%,50%,1);
	color:white;
	border:0;
	/*border-bottom:0.0625em dotted hsla(0,6%,12%,1);*/
	/*animation: animateBorder 1000ms ease-in-out 0ms 1 normal forwards;*/
}
.is-nightmode .tag {
	background: hsla(6,0%,17%,1);
	color: hsla(6,0%,83%,1);
}
.tag:before {
	/*content: "#";*/
	display: inline-block;
	color:hsla(0,6%,12%,1);
}
.tag:hover:before,
.tag:focus:before,
.tag:active:before {
	color:hsla(6,65%,50%,1);
	color:white;
}

/* ==========================================================================
   Parallax for special posts
   ========================================================================= */

.parallax {
	position: absolute;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: top right;

	top: 0;
	right: 0;

	image-rendering: -moz-crisp-edges;
	image-rendering:   -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

.parallax-size-l {
	width: 100%;
	height: 451px;
	background-size: 14em auto;
	background-position: right -7em top;
}
.parallax-size-m {
	background-image: url(../img/septagon-m.png);
	width: 256px;
	height: 250px;
	top: 6em;
	right: 1em;
	background-size: 7em auto;
}
.parallax-size-s {
	background-image: url(../img/septagon-s.png);
	width: 128px;
	height: 125px;
	top: 10em;
	right: 1em;
	background-size: 3.5em auto;
}

/* ==========================================================================
   Small stuff after post
   ========================================================================= */

.pagination ul,
.social ul {
	list-style: none;
}

.button {

}

.button:visited {

}

.button:hover,
.button:focus,
.button:active {

}

.facebook {}
.twitter {}

/* ==========================================================================
   Auxiliary
   ========================================================================= */

.display-inline li {
	display: inline;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

/* ==========================================================================
Section Elements
========================================================================= */

nav,
header,
section,
article,
main,
aside,
footer {
	position: relative;
}

header,
main,
footer {
	/*background: rgba(0,0,255,.05);*/
}

section,
article {
	/*background: rgba(0,255,0,.05);*/
}

nav,
aside {
	/*background: rgba(255,0,0,.05);*/
}

header {

}

nav {
	padding-top: 1.618em;
}

section {}

article {}

aside {
	display: table;
}

main {
	display: table;
	padding: 0 1.618em;
}

footer {
	padding: 0 1.618em;
}

body:after {
	content: "Default";
	display: block;
	position: absolute;
	top: 6em; left: 0;
	background: hsla(0,80%,50%,1);
	color:white;
	padding: .75em;
	font-size: .75em;
}

@media all and (min-width: 20.0625em) { /* 321px */

	body:after { content: "321"; background: hsla(30,80%,50%,1); }

	.parallax-size-l {
		background-size: 18em auto;
		background-position: right -9em top;
	}
	.parallax-size-m {
		background-size: 9em auto;
		top: 7em;
		right: 2.5em;
	}
	.parallax-size-s {
		background-size: 4.5em auto;
		top: 14em;
	}

}

@media all and (min-width: 30.0625em) { /* 481px */

	body:after { content: "481"; background: hsla(60,80%,50%,1); }

	.introduction,
	.frequent-topics,
	.hire-me,
	.quick-contact {
		display: table-cell;
		width: 50%;
	}
	.introduction,
	.hire-me {
		padding-right: .75em;
	}
	.frequent-topics,
	.quick-contact {
		padding-left: .75em;
	}

}

@media all and (min-width: 40.0625em) { /* 641px */

	body:after { content: "641"; background: hsla(90,80%,50%,1); }

	

}

@media all and (min-width: 48.0625em) { /* 769px */

	body:after { content: "769"; background: hsla(120,80%,50%,1); }

	.parallax-size-l {
		background-size: 21em auto;
		background-position: right -10.5em top;
	}	
	.parallax-size-m {
		top: 11em;
		right: 6em;
	}	
	.parallax-size-s {
		top: 17em;
		right: 4em;
	}	

	

	section {
		display: table-cell;
		width: 33em;
	}
	aside {
		display: table-cell;
		width: auto;
	}
	.introduction,
	.frequent-topics,
	.hire-me,
	.quick-contact {
		display: block;
		width: 100%;
		padding: 0 0 0 1.5em;
	}

}

@media all and (min-width: 64.0625em) { /* 1025px */

	body:after { content: "1025"; background: hsla(150,80%,50%,1); }

	.parallax-size-l {
		background-size: 29em auto;
		background-position: right -7em top;
	}
	.parallax-size-m {
		background-size: 14em auto;
		top: 13em;
		right: 8.5em;
	}
	.parallax-size-s {
		background-size: 7em auto;
		top: 21.5em;
		right: 3.5em;
	}

	main {
		padding: 0;
	}

	nav,
	main,
	footer {
		max-width: 77.7777%;
		margin:0 11.1111% 0 5.5555%;
	}

	footer { padding: 0; }

}

@media all and (min-width: 75.0625em) { /* 1201px */

	body:after { content: "1201"; background: hsla(180,80%,50%,1); }

	.parallax-size-l {
		background-position: right top;
	}
	.parallax-size-m {
		top: 15em;
		right: 14em;
	}
	.parallax-size-s {
		top: 16em;
		right: 11em;
	}

	nav,
	main,
	footer {
		max-width: 66.6666%;
		margin:0 22.2222% 0 11.1111%;
	}

}