/* ==========================================================================
   Normalize
   ========================================================================= */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}a:focus{outline:thin dotted;}a:hover,a:active{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;white-space:normal;margin-left:-7px;padding:0;}/* Form field edit starts here */button,input,select,textarea{font-size:inherit;font-family:inherit;line-height:inherit;vertical-align:middle;margin:0;}button,input{line-height:normal;}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{height:13px;width:13px;padding:0;}input[type=search]{-webkit-appearance:textfield;}input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure,form{margin:0;}p,pre,dl,menu,ol,ul{margin:1em 0;}

/* ==========================================================================
   Section comment block
   ========================================================================= */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:  border-box;
  box-sizing:     border-box;
  -webkit-transition: all 150ms ease-in-out 0ms;
  transition:     all 150ms ease-in-out 0ms;
}
::-moz-selection {
  background: green;
  text-shadow: none;
  color:white;
}
::selection {
  background: green;
  text-shadow: none;
  color:white;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 400 18px/1.6180 "Merriweather", Georgia, serif;

  background: white;
  color: hsla(0,6%,12%,1);

  /*background-image: linear-gradient(white 99%, black 100%);
  background-size: 1.6180em 1.6180em;*/

  background: url(../img/distressed-bg-top-left-alt.png) no-repeat,
        url(../img/distressed-bg-bottom-right-alt.png) no-repeat right bottom
        transparent;

  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  counter-reset: figureOrdinal;

  /* IE10 | Gives scrollbars that appear during touch and keyboard interactions, and fade out again after a few seconds. */
  -ms-overflow-style: -ms-autohiding-scrollbar;

  -moz-font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1, hlig=1, clig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
  font-feature-settings: "liga" 1, "dlig" 1, "hlig" 1, "clig" 1; 
}

/* ==========================================================================
   Inline Elements
   ========================================================================= */

a {
  color:hsla(6,65%,50%,1);
  text-decoration: none;
  position: relative;
  border-bottom: 1px dotted transparent;
  -webkit-transition: all 150ms ease-in-out 0ms;
  transition:     all 150ms ease-in-out 0ms;
}
a:visited {

}
a:hover,
a:focus,
a:active {
  padding-bottom:.1em;
  border-bottom:1px dotted hsla(0,6%,12%,1);
  -webkit-transition: all 150ms ease-in-out 0ms;
  transition:     all 150ms ease-in-out 0ms;
}

p {
  margin: 0 0 1.618em 0;
}

small,
time {
  font-size:.7778em;
  line-height: 2.0803em;
}
time {
  color: hsla(6,0%,60%,1);
  letter-spacing: .0714em;
  text-transform: uppercase;
  /*white-space: pre-wrap;*/
}

/* ==========================================================================
   Figure & Figcaption
   ========================================================================= */

figure {
  width: 100%;
  display: table;
  margin: 0 0 1.618em 0;
}
figure img, figcaption {
  display: block;
  width: 100%;
}

figure img {
  margin:0 0 1.618em 0;
}
figcaption {
  font-size:.7778em;
  line-height: 2.0803em;
  font-style: italic;
}
figcaption:before {
  content: "Figure\0000a0" counter(figureOrdinal)".\0000a0";
  counter-increment: figureOrdinal;
  font-variant: small-caps;
  color: hsla(6,3%,60%,1);
}

/* ==========================================================================
   Headers
   ========================================================================= */

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  white-space: pre-wrap;
}
h1 {
  font-size: 2.6667em;
  line-height: 1;
  margin:0 0 1.427em 0;
}
h2 {
  font-size: 2em;
  line-height: 1.05;
  margin: 1.0329em 0 .3443em 0;
}
h3 {
  font-size: 1.3333em;
  line-height: 1.2135;
  margin: 1.8204em 0 .6068em 0; 
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }