---
layout: "404"
---

<div class="container">
 <div class="group" role="main">
   <section class="col col--primary">

  <h1 class="post-heading post-type--professional">Helvete!*</h1>

  <p class="lead">Ooops. Something went wrong. You&rsquo;re not sure what&mdash;was it you? Was it the website? What do you do now?</p>

  <p>Well, this is awkward but whatever page you were looking for isn&rsquo;t here any more.</p>

  <p><a href="http://www.twitter.com/fiinixdesign" class="button button--secondary">Tell me about this missing page</a></p>

  <p>The technical explanation—if you&rsquo;re curious—is that a code 404 occurred, which is a <abbr title="Hypertext Transfer Protocol" class="small-caps">HTTP</abbr> standard response code indicating that the client was able to communicate with a given server, but the server couldn&rsquo;t find what was requested.</p>

  <p>Practically it means I&rsquo;ve messed something up. See, sometimes I change things and when I do, things that used to be in one place, isn&rsquo;t any more.</p>

  <p>
    <em>* Helvete is a Swedish word originating from Old Norse <i>helvíti</i> meaning, in its most modern form, Hell.</em>
  </p>

<h2 class="h4">Recent entries</h2>

{% for post in site.posts limit:3 %}
<article class="post-preview">
{% include date.html type="listing" %}{% include reading-time.html type="post" %}
<h3 class="h3 post-heading no-margin post-type--{{ post.category }}"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><span {% if post.color %} style="color: white; background-color: {{ post.color }};"{% endif %} >{{ post.title | markdownify | strip_html | trim  }}</span></a></h3>
<p>{{ post.excerpt | markdownify | strip_html | trim }}</p>
</article>
{% endfor %}


   </section>
   <!-- <aside class="col col--secondary" role="complementary">

    <img src="/assets/img/avatar-404.png" alt="Naked Carlos Illustration">

   </aside> -->
 </div>
</div>