<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Oh God, oh God, Where are so screwed | Carlos Eriksson</title>
	<meta name="author" content="{{ site.author.name }}">

	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Ubuntu:700,500,300|Merriweather:400,400italic' rel='stylesheet' type='text/css'>

	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le styles -->
  <link href="assets/themes/carloseriksson/css/screen.css" rel="stylesheet" type="text/css" media="all">

  <!-- Le fav and touch icons -->
<!-- Update these with your own images
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
-->

<style>
	body {
		transform: rotate(180deg);
	}
</style>

</head>

<body>

		<nav id="navigation" role="navigation">
			<ul>
			{% assign pages_list = site.pages %}
			{% assign group = 'navigation' %}
			{% include JB/pages_list %}
			</ul>
		</nav>

	<!--Viewport-->
	<!-- {% if page.headerImg %} -->
	<!-- <div class="container containeris-custom-post" style="background-image:url({{ page.headerImg }});"> -->
	<!-- {% else %} -->
	<!-- <div class="container"> -->
	<!-- {% endif %}	 -->
	<div id="top" class="wrapper">

	<header>
		<a class="brand" href="{{ HOME_PATH }}"><span class="brand-title">Mr.</span><span class="brand-first-name">Carlos</span><span class="brand-last-name">Eriksson</span></a>

		<i class="toggle-nav" id="js-toggle-nav"></i>
		<i class="toggle-mode" id="js-toggle-mode">Mode</i>
	</header>

	<h1>Something feels wrong here.</h1>

	<section>
		<div class="quick-search">
			<form action="http://google.com/search" method="get">
				<fieldset>
					<input type="hidden" value="en" name="hl">
					<input type="hidden" value="carloseriksson.com" name="domains">
					<input type="hidden" value="carloseriksson.com" name="sitesearch">
					<input size="40" name="q" title="Search">
					<button type="submit">Search</button>
				</fieldset>
			</form>
		</div>
	</section>

	<footer>
		<p>
			<small>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. Some rights reserved. Made with love, lust and coffee.</small>
		</p>
	</footer>

	</div>
	<!--/Viewport-->

</body>
</html>
