/* ==========================================================================


   Animations


   ========================================================================== */



/**
 *
 * Wobble--tag
 *
 */
@keyframes wobble--tag {

	15%		{
		transform: scale(1.2,1.1) skew(5deg, 1deg);
	}

	40% {
		transform: scale(0.95,0.95) skew(5deg, 1deg);
	}

	75% {
		transform: scale(1.05,1) skew(5deg, 1deg);
	}

	100%	{
		transform: scale(1,1) skew(5deg, 1deg);
	}
	
}