/**
 * ===========================================================================
 *
 * Effects
 *
 * ===========================================================================
 */



/**
 *
 * Wobble
 *
 */
@keyframes wobble {

	15%		{
		transform: scale(1.2,1.1);
	}

	40% {
		transform: scale(0.95,0.95);
	}

	75% {
		transform: scale(1.05,1);
	}

	100%	{
		transform: scale(1,1);
	}
	
}



/**
 *
 * Wobble
 *
 */
@keyframes wobble-tag {

	15%		{
		transform: scale(1.2,1.1) skew(5deg, 1deg);
	}

	40% {
		transform: scale(0.95,0.95) skew(5deg, 1deg);
	}

	75% {
		transform: scale(1.05,1) skew(5deg, 1deg);
	}

	100%	{
		transform: scale(1,1) skew(5deg, 1deg);
	}
	
}



/**
 *
 * Wobble, alt
 *
 */
@keyframes wobble-button {

	15%		{
		transform: scale(1.2,1.1) skew(-5deg, -1deg);
	}

	40% {
		transform: scale(0.95,0.95) skew(-5deg, -1deg);
	}

	75% {
		transform: scale(1.05,1) skew(-5deg, -1deg);
	}

	100%	{
		transform: scale(1,1) skew(-5deg, -1deg);
	}
	
}

/* Page title test
   ========================================================================== */
@keyframes test {

	0% {

		background-position: 0 0;
		fill: red;

	}

	100% {

		background-position: 100% 100%;
		fill: green;

	}

}