/* ==========================================================================


   Animations


   ========================================================================== */


/**
 *
 * Horizontal Stretch
 *
 */
@keyframes horizontal-stretch {

    66% {

        transform: scale(1.2, 0.9);

    }

    100% {

        transform: scale(1.1, 1.1);

    }

}


/**
 *
 * Wobble--tag
 *
 */
@keyframes wobble--tag {

	15%		{
		transform: scale(1.2,1.1) skew(5deg, 1deg);
	}

	40% {
		transform: scale(0.95,0.95) skew(5deg, 1deg);
	}

	75% {
		transform: scale(1.05,1) skew(5deg, 1deg);
	}

	100%	{
		transform: scale(1,1) skew(5deg, 1deg);
	}
	
}

@keyframes morph {

	to {

		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

	}

}