<!-- <footer class="footer">

  <svg class="footer-top"><use xlink:href="#ost"/></svg>

  <div class="container">
    
    <div class="group">
    <div class="col">

      <h3 class="h3">Side projects</h3>
      {% include side-projects.html %}

    </div>
    <div class="col flex-2">

      <h2 class="h2">Who the hell?</h2>
      <p>Carlos Eriksson is a thoughtful, inventive problem solver with excellent communication skills.</p>
      <p>He is a designer.</p>
      <p>Want <a href="/about/">some more self-indulgent dribble?</a></p>

    </div>
    <div class="col">

      <p>
        <img src="/assets/img/avatar.png" alt="" width="150" height="450">
      </p>

    </div>
  </div>

  <hr class="footer-hr">

  <div class="group">
    <div class="col">

      &copy; Carlos Eriksson. Some rights reserved.

    </div>
    <div class="col align-right">
      
      <a href="/feeds/">Feeds</a>
      <a href="/colophon/">Colophon</a>
      <a href="/sitemap/">Sitemap</a>

    </div>
  </div>

  </div>
</footer> -->