<!-- <header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

  </div>

</header> -->
<!-- <header>
  <div class="container">
    
    <div class="group">
    <div class="col">
      <a href="/" class="logo">
        <svg>
          <use xlink:href="#phoenix"/>
        </svg>
      </a>
      
      <a href="{{ site.baseurl }}/" class="logo">carloseriksson.com</a>
    </div>
    <div class="col keep-right">

      <button class="navigation-toggle js-navigation-toggle">
        <i>&Xi;</i>
        <span>Me<u>n</u>u</span>
      </button>

    </div>
  </div>

  </div>
</header> -->