<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} | Carlos Eriksson is a designer.{% else %}Carlos Eriksson is a designer.{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | trim }}{% else %}{{ site.description }}{% endif %}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Force IE to render using latest engine -->
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">

	<link rel="icon" href="/favicon.png">

	<!-- <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic' rel='stylesheet' type='text/css'> -->

	<meta name="google-site-verification" content="B7CD3q3nhGhzL-p4JheVzHn4ORFfb9KTPKUwhtBGEtU" />

	<link href="https://plus.google.com/b/108140672535922205457/108140672535922205457" rel="publisher">
	

	<!-- Facebook -->
	<!-- <meta property="fb:app_id" content="920722924680311" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title}}{% else %}{{ site.title }}{% endif %}"/>
	<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />
	<meta property="og:url" content="http://carloseriksson.com{{ page.url }}"/>
	<meta property="og:image" content="http://carloseriksson.com/{% if page.facebook %}{{ page.facebook }}{% else %}assets/img/facebook-default-image.gif{% endif %}"/>
	<meta property="og:site_name" content="Carlos Eriksson"/>
	
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | trim }}{% else %}{{ site.description }}{% endif %}"/> -->
	<!-- / Facebook -->

	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="http://carloseriksson.com{{ page.url }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title}}{% else %}{{ site.title }}{% endif %}"/>

	<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | trim }}{% else %}{{ site.description }}{% endif %}"/>

	<meta name="twitter:image" content="http://carloseriksson.com/{% if page.twitter %}{{ page.twitter }}{% else %}assets/img/twitter-default-image.png{% endif %}"/>
	<meta name="twitter:creator" content="@fiinixdesign">
	<meta name="twitter:site" content="@fiinixdesign">
	<!-- / Twitter -->

</head>
