<header class="header js-header">

	<nav class="nav" aria-labelledby="menu" role="navigation">

		<h1 class="visuallyhidden" id="menu">Menu</h1>

		<a href="/" class="logo">carloseriksson<small>.com</small></a>

		<!-- <a href="{{ site.baseurl }}/showcase">Showcase</a> -->
		<a href="{{ site.baseurl }}/blog">Journal</a>
		<a href="{{ site.baseurl }}/about">About</a>
		<a href="{{ site.baseurl }}/consultancy" class="link--tertiary">Consultancy</a>

	</nav>

	<!-- <svg class="header-bottom"><use xlink:href="#ost"/></svg> -->
	
</header>