<header class="header js-header">

	<nav class="nav" aria-labelledby="menu" role="navigation">

		<h2 class="visuallyhidden" id="menu">Menu</h2>

		<a href="/" class="logo">carloseriksson<small>.com</small></a>

		<!-- <a href="{{ site.baseurl }}/showcase">Showcase</a> -->
		<a href="{{ site.baseurl }}/about">About</a>
		<a href="{{ site.baseurl }}/speaking">Speaking</a>
		<a href="{{ site.baseurl }}/writing">Writing</a>
		<a href="{{ site.baseurl }}/blog">Journal</a>
		<!--<a href="{{ site.baseurl }}/consultancy">Consultancy</a>-->

	</nav>

	<!-- <svg class="header-bottom"><use xlink:href="#ost"/></svg> -->
	
</header>