<h3 class="h5 subheading" id="explore-posts">Explore more</h3>
{% if page.previous %}
<p>
		<time class="timestamp timestamp--post" datetime="{{ post.date }}">
		{% assign m = page.previous.date | date: "%B" %}
		{% case m %}
		{% when 'May' %}{{ page.previous.date | date: "%-d " | append: m }}
		{% when 'June' %}{{ page.previous.date | date: "%-d " | append: m }}
		{% when 'July' %}{{ page.previous.date | date: "%-d " | append: m }}
		{% when 'September' %}{{ page.previous.date | date: "%-d " | append: 'Sept.' }}
		{% else %}{{ page.previous.date | date: "%-d %b" }}.
		{% endcase %}
	</time><br>
	<a href="{{ BASE_PATH }}{{ page.previous.url }}" rel="prev" class="pager__previous h4 no-margin"  style="border-color: {% if page.previous.color %}{{ page.previous.color }}{% else %}#cd0e3e{% endif %};">
	<span class="">{{ page.previous.title | markdownify | strip_html | trim }}</span>
	</a>
</p>
{% endif %}
{% if page.next %}
<p>
	<time class="timestamp timestamp--post" datetime="{{ post.date }}">
		{% assign m = page.next.date | date: "%B" %}
		{% case m %}
		{% when 'May' %}{{ page.next.date | date: "%-d " | append: m }}
		{% when 'June' %}{{ page.next.date | date: "%-d " | append: m }}
		{% when 'July' %}{{ page.next.date | date: "%-d " | append: m }}
		{% when 'September' %}{{ page.next.date | date: "%-d " | append: 'Sept.' }}
		{% else %}{{ page.next.date | date: "%-d %b" }}.
		{% endcase %}
	</time><br>
	<a href="{{ BASE_PATH }}{{ page.next.url }}" rel="next" class="pager__next h4 no-margin" style="border-color:{% if page.next.color %}{{ page.next.color }}{% else %}#cd0e3e{% endif %};">
	<!-- <svg class="icon pager__icon pager__icon--next">
		<use xlink:href="#arrow-forward" />
	</svg> -->
	<span class="">{{ page.next.title | markdownify | strip_html | trim }}</span>
	</a>
</p>
{% endif %}
