{% for post in site.posts limit:1 %}

{% assign currentDateClean = site.time | date: "%Y-%m-%d 00:00:00" %}
{% assign previousDateClean = post.date | date: "%Y-%m-%d 00:00:00" %}

{%   assign today = currentDateClean | date: '%s' %}
{%   assign start = previousDateClean | date: '%s' %}
{%   assign secondsSince = today | minus: start %}
{%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
{%   assign daysSince = hoursSince | divided_by: 24.0 | round %}

{% if daysSince == 0 %}
    {% assign statement = "in 14 days." %}
{% elsif daysSince == 14 %}
    {% assign statement = "today." %}
{% elsif daysSince == 13 %}
    {% assign statement = 14|minus: daysSince | prepend: "in " | append: " day." %}
{% else %}
    {% assign statement = 14|minus: daysSince | prepend: "in " | append: " days." %}
{% endif %}

{% endfor %}

<!--<p class="gtm-nexttime"><em>{{ "The next entry comes out " | append:statement }}</em></p>-->
