<!-- JS search -->
<div class="search">
    <div class="search-container" id="search-container">
        <label for="search-input">
            <div>Search amongst {{ site.posts | size }} entries across {{ site.tags | size }} topics.</div>
            <input type="text" id="search-input" placeholder="E.g. health, running, cupcakes, tattoo, writing, gaming..." aria-describedby="results-container">
        </label>
        <ol class="clean-list post-preview search-results" id="results-container" aria-live="assertive" role="status"></ol>
    </div>
</div>