/* ==========================================================================


   Button


   ========================================================================== */


.button {

	display: inline-block;

	background-color: $luma-50;
	padding: 1.5em 3em;
	text-align: center;

	border: 0;
	border-radius: 0.33em;

}



.button--primary {

	background-color: $primary-color;
	color: contrast($primary-color);

	&:visited {

		background-color: $primary-color;
		color: contrast($primary-color);

	}

	&:hover,
	&:focus,
	&:active {

		background-color: lighten($primary-color, $deviate);
		color: contrast(lighten($primary-color, $deviate));

	}

}



.button--secondary {

	background-color: $secondary-color;
	color: contrast($secondary-color);

	&:visited {

		background-color: $secondary-color;
		color: contrast($secondary-color);

	}

	&:hover,
	&:focus,
	&:active {

		background-color: lighten($secondary-color, $deviate);
		color: contrast(lighten($secondary-color, $deviate));

	}

}



.button--tertiary {

	background-color: $tertiary-color;
	color: contrast($tertiary-color);

	&:visited {

		background-color: $tertiary-color;
		color: contrast($tertiary-color);

	}

	&:hover,
	&:focus,
	&:active {

		background-color: lighten($tertiary-color, $deviate);
		color: contrast(lighten($tertiary-color, $deviate));

	}

}



.button--accent {

	background-color: $accent-color;
	color: contrast($accent-color);

	&:visited {

		background-color: $accent-color;
		color: contrast($accent-color);

	}

	&:hover,
	&:focus,
	&:active {

		background-color: lighten($accent-color, $deviate);
		color: contrast(lighten($accent-color, $deviate));

	}

}