/* ==========================================================================


   Font-face


   ========================================================================== */
@font-face {
	font-family: 'Cooper Hewitt';
	src: url('#{$font-path}cooperhewitt-heavy.woff') format('woff');
	font-style: normal;
	font-weight: 800;
}