/**
 * ===========================================================================
 *
 * Footer
 *
 * ===========================================================================
 */
.footer {

	background-color: $primaryColor;
	color: contrast($primaryColor);

	padding-top: em($fontLeading*2);
	padding-bottom: em($fontLeading);

	padding-left: em($fontLeading);
	padding-right: em($fontLeading);

	margin-top: em($fontLeading);
	// border-top: em($borderWidth) $borderStyle $borderColor;


	position: relative;

	/* Let's create a pseudo-element behind the navigation and apply
	 * the transformation to it rather than the parent. That way we can
	  * preserve text-rendering and not suffer anti-aliasing problems.  */
	&:before {
		content: " ";
		display: block;
		width: 100%;
		height: em($fontLeading);

		position: absolute;
		top: em(- $fontLeading/2);
		left: 0;

		background-color: $primaryColor;
		transform: skew(0deg, 1deg);
	}

	.group {

		font-family: $uiFamily;
		font-size: .74em;

	}

	@include mq($breakpointDesk) {

		padding-left: 0;
		padding-right: 0;

	}

}
.footer-hr {

	border-color: darken($primaryColor, 10);

	@include mq($breakpointDesk) {

		max-width: 77.7777%;
		margin-right: 11.1111%;
		margin-left: 5.5555%;

	}

	@include mq($breakpointWall) {

		max-width: 66.6666%;
		margin-right: 22.2222%;
		margin-left: 11.1111%;

	}

}