/**
 * ===========================================================================
 *
 * Page titles
 *
 * ==========================================================================
 */
.post-heading {

	@extend .h2;

}

/**
 * Text masking — The SVG way
 */

svg {
	// font: 900 4em/1.2 'Arial', sans-serif;
	font-weight: $headingWeight;
	font-family: $headingFamily;
	font-size: 9em;
	line-height: 1;

	position: absolute;
	top: .25em;
	right: 0;

	pointer-events: none;

}

text {
	animation: test 1000ms ease-in-out infinite 0ms;
	/* Firefox doesnt understand inline SVGs with relative IDs */
	// fill: url(#wood);
}

