/*------------------------------------*\
    #Pager
\*------------------------------------*/



.pager {

	display: flex;
	flex-flow: column nowrap;

	@include mq($breakpoint-lap) {

		flex-flow: row nowrap;

	}

}

.pager__item {

	display: block;
	flex: 1;

	// Remove default ul list bullet
	&:before { content: none; }

}


.pager__next,
.pager__previous {

	display: inline-block;

	position: relative;

	border-color: inherit;
	// background-color: $primary-color;
	// color: contrast($primary-color);

	// padding: 1em;

	&:visited {

		// background-color: desaturate($primary-color, 10);
		// color: contrast(desaturate($primary-color, 10));

	}

	&:before {

		content: " ";
		display: block;

		width: 2.7777vh;
		height: 2.7777vh;

		border-bottom: 2.7777vh solid;
		border-bottom-color: inherit;

		transform: rotate(45deg);

		position: absolute;
		top: 0;

		z-index: -1;

	}

	&:after {

		content: " ";
		display: block;

		width: 100%;
		height: 2.7777vh;

		border-bottom: 2.7777vh solid;
		border-bottom-color: inherit;

		position: absolute;

		z-index: -1;

	}

}

.pager__previous:before {

	// content: "\219E";

	//color: rgba($primary-color, 1);

	bottom: -1em;
	left: -1em;

}
.pager__previous:after {

	//background-color: rgba($primary-color, 1);
	//border-bottom-color: inherit;

	bottom: -0.25em;
	left: -0.5em;

}
.pager__next:before {

	left: -1em;
	top: -0.25em;

}
.pager__next:after {

	//background-color: rgba($secondary-color, 1);

	bottom: -0.25em;
	right: -1em;

}