/*------------------------------------*\
    #Pager
\*------------------------------------*/
.pager__next,
.pager__previous {

	// Remove default link style
	background-image: none;

	display: inline-block;

	position: relative;

	border-color: inherit;

	&:hover,
	&:focus,
	&:active {

		background-image: none;

	}

	// Rotated square
	&:before {

		content: " ";
		display: block;

		width: 5.5vh;
		height: 2.7vh;

		border-bottom: 2.7vh solid;
		border-bottom-color: inherit;

		//transform: rotate(45deg);

		position: absolute;

		z-index: -1;

	}

	// Underline/strikethrough
	&:after {

		content: " ";
		display: block;

		width: 100%;
		height: 2.7vh;

		border-bottom: 2.7vh solid;
		border-bottom-color: inherit;

		position: absolute;

		z-index: -1;

	}

}
.pager__previous:before {

	bottom: -2.7vh;
	left: -8.3vh;

}
.pager__previous:after {

	bottom: 0;
	left: -2.7vh;

}
.pager__next:before {

	right: -8.3vh;
	bottom: -2.7vh;

}
.pager__next:after {

	bottom: 0;
	right: -2.7vh;

}