/* ==========================================================================


   Post heading


   ========================================================================== */
.post-heading,
.page-heading,
.blog-post-title {

    position: relative;

    margin-top: 0.25em;
    margin-bottom: 1em;

    color: $primary-color;

    .post-preview & {

        margin-top: 0.25em;
        margin-bottom: 0;

    }

}


.blog-post-title span {

    color: $primary-color;
    //text-shadow: 1px 1px 0 white, 3px 4px 0 $accent-color;

    background-image: linear-gradient(to bottom, $accent-color 100%, $accent-color 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    line-height: 1.15;
    background-size: 0.1666em 0.1666em;

}

.post-heading a,
.post-heading span {

    color: $primary-color;
    //text-shadow: 1px 1px 0 white, 3px 4px 0 $accent-color;

    background-image: linear-gradient(to bottom, $accent-color 100%, $accent-color 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;

}

.post-heading--listing a {

    line-height: 1.15;
    background-size: 0.1666em 0.1666em;

}

.post-heading__count.post-heading__count {

    margin-top: 0;
    display: inline-block;
    margin-right: 0.5rem;
    line-height: 1.2;

    [data-layout="post"] & {

        position: relative;
        top: 0.1rem;

    }

}

// /* Default. Inherit border-colors for branding */
.post-content {

    color: $primary-color;
    border-color: $primary-color $accent-color $accent-color $primary-color;
    margin-top: 3em;
    margin-bottom: 3em;

}

.page-content {

    margin-top: 3em;
    margin-bottom: 3em;

}

.post-type,
.page-type {

    &--professional,
    &--content {

        color: $primary-color;

        /* Inherit border-colors for branding */
        border-color: $primary-color $accent-color $accent-color $primary-color;

    }

}

.related-post + .related-post {

    margin-top: 0;

}

.post-preview + .post-preview,
.summary + .summary,
.article-preview + .article-preview {

    margin-top: 2.25em;

}

.back-to-top {

    display: inline-block;

    position: absolute;
    top: 0;
    right: 0;

    background-color: $luma-80;
    color: contrast($luma-80);

    padding: 0.5em;

}
