/* ==========================================================================


   Post heading


   ========================================================================== */
.post-heading,
.page-heading {

	position: relative;

	margin-top: 0;
	margin-bottom: 1em;

	color: $primary-color;

	span {

		// font-size: 2em;
		// background-color: #4c9cd0;
		background-color: $primary-color;
		color: $white;
		display: inline;
		padding: 0.1em 0.15em;
		line-height: 1.3;

		// text-transform: uppercase;

		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;

	}

}



.post-content {

	color: $primary-color;
	margin-top: 3em;
	margin-bottom: 3em;

}

.page-content {

	margin-top: 3em;
	margin-bottom: 3em;

}

.post-type,
.page-type {

	&--professional,
	&--content {

		color: $secondary-color;

		/* Inherit border-colors for branding */
		border-color: $secondary-color $accent-color $accent-color $secondary-color;

		> span,
		> a > span {

			background-color: $secondary-color;

		}

	}

}

.post-type--archive {

	color: $luma-10;

	/* Inherit border-colors for branding */
	border-color: $luma-10 $luma-40 $luma-40 $luma-10;

	> span {

		background-color: $luma-10;

	}

}

.post--new .post-heading {

	color: inherit;

}

.related-post + .related-post {

	margin-top: 0;

}

.post-preview + .post-preview,
.summary + .summary {

	margin-top: 2.25em;

}