/* ==========================================================================


   Tags


   ========================================================================== */



.tag {

	background-image: none;

	display: inline-block;
	//white-space: nowrap;

	font-weight: $font-weight;

	font-size: 0.74em;
	line-height: 1.2;
	letter-spacing: 0.075em;
	//text-transform: uppercase;
	/* Make the text faux bolder to mimic small-caps because the weight of
	* this should be similar to the weight of normal lowecase but it isn't */
	//text-shadow: 0 0 0 $black;

	padding: 0.34em 0.51em;
	margin: 0 0.51em 0.34em 0;

	border-radius: 0.17em;

	background-color: $luma-90;

	&:hover,
	&:focus,
	&:active {

		background-position: 0 -100%;
		background-size: 1.5em 1.5em;

		background-color: $black;
		color: $white;

	}

	@include mq($breakpoint-lap) {
		
		padding: 0.17em 0.51em;
		margin: 0 0.51em 0.17em 0;

	};

}