/**
 * ===========================================================================
 *
 * Timestamp
 *
 * ===========================================================================
 */
.post__timestamp,
.page__timestamp {
	margin-right: .5em;

	font-size: .74em;
	
}
.page__timestamp {

	margin-right: 0;

}