/* ==========================================================================


   Timestamps


   ========================================================================== */



.timestamp {

	color: $luma-50;

	font-size: 0.74em;
	text-transform: uppercase;

}