/**
 * ===========================================================================
 *
 * Timestamp
 *
 * ===========================================================================
 */
.post__timestamp,
.page__timestamp {
	margin-right: .5em;

	font-size: em($fontSize/$fontScale);
	line-height: pow($fontScale, 1.25);

	@include mq($breakpointLap) {
		font-size: em($fontSizeLap/$fontScaleLap, $fontSizeLap);
		line-height: pow($fontScaleLap, 1.25);
	};
}
.page__timestamp {

	margin-right: 0;

}