/* Flags
========================================================================== */

$debug: false;
$overlay: true;

/* Fonts
========================================================================== */

// Base Font
$base-font-family: "Merriweather", Georgia, serif;
$base-font-weight: 400;
$base-font-size: 18;
$base-line-length: 55;
$base-multiplier: 1.6;

$base-space-xl: $base-multiplier *2 +0em;
$base-space-l: $base-multiplier *1.5 +0em;
$base-space: $base-multiplier +0em;
$base-space-s: $base-multiplier *0.5 +0em;
$base-space-xs: $base-multiplier *0.25 +0em;

//Header Font
$header-font-family: "Ubuntu", sans-serif;
$header-font-weight: 700;

/* Transition
========================================================================== */
$easeInOutBack:  cubic-bezier(0.680, -0.550, 0.265, 1.550);

$transition-property-default: all;
$transition-duration-default: 150ms;
$transition-function-default: $easeInOutBack;
$transition-delay-default: 0ms;

/* Colors
========================================================================== */
$crimson: hsla(345,87%,43%,1);
$lime: yellowgreen;
$orange: orange;

// Neutrals

$white: #fff;
$black: hsla(210,100%,2%,1);
$dark-grey: hsla(0,6%,12%,1);
$grey: hsla(6,0%,60%,1);
$light-grey: hsla(6,0%,83%,1);

$glass: hsla(0,0%,100%,.1);

// Markup selectors

$primary-color: $crimson;
$secondary-color: $lime;
$tertiary-color: $orange;
$accent-color: $lime;

$primary-text-color: $dark-grey;
$secondary-text-color: $grey;
$tertiary-text-color: $light-grey;