.button,
button {
	padding: $base-multiplier *0.5 +0em $base-multiplier +0em;
	background: $primary-color;
	color: $white;
	border: 0;
	font-size:.7778em;
	line-height: 2.0803em;
	text-transform: uppercase;
	border-radius: #{$base-multiplier}em #{$base-multiplier}em #{$base-multiplier}em 0;
	position: relative;

	&:visited,
	&.is-disabled {
		background: $tertiary-text-color;
		color: $primary-text-color;
	}
	&:hover,
	&:focus,
	&:active {
		background: $secondary-color;
		z-index: 3000;
		color: $black;
		border-radius: #{$base-multiplier *2}em #{$base-multiplier *2}em #{$base-multiplier *2}em 0;
		padding: $base-multiplier +0em $base-multiplier *2 +0em;
		margin: (- $base-multiplier *0.5 +0em) (- $base-multiplier +0em) (- $base-multiplier *0.5 +0em) (- $base-multiplier +0em);
	}

	@include transition;
}

.button + .button {
	background: yellowgreen;
}