figure {
	width: 100%;
	display: table;
	margin: 0 0 #{$base-multiplier}em 0;
}
figure img, figcaption {
	display: block;
	width: 100%;
}

figure img {
	margin:0 0 #{$base-multiplier}em 0;
}
figcaption {
	font-size:#{14/$base-font-size}em;
	line-height: #{$base-multiplier/(14/18)};
	font-style: italic;
}
figcaption:before {
	content: "Figure\0000a0" counter(figureOrdinal)".\0000a0";
	counter-increment: figureOrdinal;
	font-variant: small-caps;
	color: $secondary-text-color;
}

.media-video {
	display: block;
	height: 0;
	padding-top: #{$base-multiplier}em;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
}
.media-video.aspect4x3 {
	padding-bottom: 75%;
}
.media-video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0; left: 0;
}

.media-title figcaption {
	font: normal 72px/1.2 'feast', Arial, sans-serif;
	text-transform: uppercase;
	color: $white;
	text-align: center;
	transform: rotate(-2.5deg);
	background: $primary-color;
	// text-shadow:	1px 1px 0 blue,
	// 				-1px 0 0 blue,
	// 				0 -1px 0 blue,
	// 				-1px -1px 0 blue,
	// 				3px 3px 0 grey,
	// 				-3px 0 0 grey,
	// 				0 -3px 0 grey,
	// 				-3px -3px 0 grey;
}
.media-title span {
	font-size: 48px;
	line-height: 1.8;
}
.media-title figcaption:before {
	content: none;
}