figure {
	width: 100%;
	display: table;
	margin: 0 0 #{$base-multiplier}em 0;
}
figure img, figcaption {
	display: block;
	width: 100%;
}

figure img {
	margin:0 0 #{$base-multiplier}em 0;
}
figcaption {
	font-size:#{14/$base-font-size}em;
	line-height: #{$base-multiplier/(14/18)};
	font-style: italic;
}
figcaption:before {
	content: "Figure\0000a0" counter(figureOrdinal)".\0000a0";
	counter-increment: figureOrdinal;
	font-variant: small-caps;
	color: $secondary-text-color;
}

.media-video {
	display: block;
	height: 0;
	padding-top: #{$base-multiplier}em;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
}
.media-video.aspect4x3 {
	padding-bottom: 75%;
}
.media-video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0; left: 0;
}