h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	white-space: pre-wrap;
}
/* 48px */
h1 {
	font-size: 2.6667em;
	line-height: 1;
	margin:0 0 1.427em 0;
	margin: 0 0 #{$base-multiplier}em 0;
}
.blog h1 {
	// max-width: $base-font-size/$base-line-length *37.4995em;
}
/* 36px */
h2 {
	font-size: 2em;
	line-height: 1.05;
	margin: 1.0329em 0 .3443em 0;
	// margin: #{$base-multiplier}em 0 #{$base-multiplier*.25}em 0;
}
/* 24px */
h3 {
	font-size: 1.3333em;
	font-weight: 500;
	line-height: 1.2135;
	margin: 1.8204em 0 .6068em 0;
	// margin: #{$base-multiplier*1.25}em 0 #{$base-multiplier*.5}em 0; 
}