small,
time {
	font-size:#{14/$base-font-size}em;
	line-height: #{$base-multiplier/(14/18)};
}
time {
	color: $secondary-text-color;
	letter-spacing: 1/14 * 1em;
	text-transform: uppercase;
	white-space: nowrap;
}

abbr {
	font-size:#{14/$base-font-size}em;
	line-height: #{$base-multiplier/(14/18)};
	text-transform: uppercase;
	letter-spacing: .1em;
	border-bottom: .1em dotted $tertiary-text-color;
	cursor: help;
}

em {}

del { color: $secondary-text-color; }
ins { text-decoration: none; border-bottom: #{1/$base-font-size}em dashed $secondary-text-color; }

.inverted {
	background: $black;
	color: $white;
	padding: 0 #{$base-multiplier*0.25}em;
	text-transform: uppercase;
	-ms-word-break: normal;
	word-break: normal;

	/* Non standard for webkit */
	word-break: normal;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.hero {
	font-size:#{24/$base-font-size}em;
	line-height: #{$base-multiplier/(24/18)};
	// max-width: $base-font-size/$base-line-length *75.0019em;
}