/* Media Query
========================================================================== */
@mixin mq($point, $IE9: false, $query1: min, $query2: width) {
    @if $IE9 == true{
        .lt-ie9 & {
            @content;
        }
        @media screen and (#{$query1}-#{$query2}: $point / $base-font-size +em) {
            @content;
        }
    }

    @else {
        @media screen and (#{$query1}-#{$query2}: $point / $base-font-size +em) {
            @content;
        }
    }
}

/* Box-shadow
========================================================================== */

@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}


/* Transition
========================================================================== */
@mixin transition($property: $transition-property-default, $duration: $transition-duration-default, $function: $transition-function-default, $delay: $transition-delay-default) {
    -webkit-transition: $property $duration $function $delay;
    -moz-transition: $property $duration $function $delay;
    -ms-transition: $property $duration $function $delay;
    -o-transition: $property $duration $function $delay;
    transition: $property $duration $function $delay;
}

/* Flexbox
========================================================================== */

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}