.pagination ul {
	list-style: none;
}
.pagination__item {
	width: 49%;
	display: table-cell;
	margin: 0;
	padding: 0;
}
.pagination__item:nth-child(2) {
	width:1em;
}

.pagination__item {}
.pagination__item--is-disabled {
	color: $secondary-text-color;
}