.svg-graphic {
	width:100%;
}

#hex-mask {
	shape-rendering: crispEdges;
}

svg {
  // -webkit-transition: opacity 300ms ease;
  // -moz-transition: opacity 300ms ease;
  // transition: opacity 300ms ease;
  vertical-align: middle;
  @include transition(all, 300ms, $easeInOutBack, 0ms);
}
svg polygon:hover,
svg polygon:focus,
svg polygon:active {
	opacity: 1;
}
svg a:hover image,
svg a:focus image,
svg a:active image {
  opacity: .1;
}

dl {
	display: block;
	position: absolute;
	top: 30%;
	left: 0;
	width:100%;
	text-align: center;
	color: white;
	pointer-events: none;
}

dt {
	display: block;
	text-transform: uppercase;
	margin-bottom: #{$base-multiplier/2}em;
	padding-bottom: #{$base-multiplier/2}em;
	font-size:#{14/$base-font-size}em;
	line-height: #{$base-multiplier/(14/18)};
	opacity: 0;
	-webkit-transform: translateY(-3em);
	transform: translateY(-3em);
	@include transition(all, 300ms, $easeInOutBack, 50ms);
}
dt:after {
	content: " ";
	display: block;
	position: absolute;
	bottom: 0;
	left: 37.5%;
	width: 25%;
	height: 1px;
	background: white;
}
dd {
	display: block;
	opacity: 0;
	margin:0; 
	-webkit-transform: translateY(-3em);
	transform: translateY(-3em);
	@include transition(all, 300ms, $easeInOutBack, 0ms);
}
.work li {
	display: inline-block;
	position: relative;
	width:10.6667em;
	padding: 0;
	margin: 0;
}

li:hover dt,
li:hover dd {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.work li:nth-child(1n+4) {
	left: -5.3334em;
	top: -3.0556em;
}