.toggle-mode {
	// position: absolute;
	// right: #{$base-multiplier}em;
	// top: #{$base-multiplier}em;
	display: block;
	width: #{$base-multiplier*2}em; 
	height: #{$base-multiplier*2}em;
	background: transparent url(../svg/mode-icons.svg) 0 100% no-repeat;
	background-size: 200% auto;
	border-radius: 50%;
	cursor: pointer;
	
	overflow: hidden;
	white-space: nowrap;
	text-indent: 100%;

	transform: rotate(0deg);
	transition: transform 600ms ease-in-out 300ms,
				background-position 600ms ease-in-out 300ms,
				background-color 300ms ease-in-out 0ms;
}
.toggle-mode:hover {
	background-color: #D1D3D4;
	background-color: #D4D4D4;
}
.toggle-mode--is-nightmode:hover {
	background-color: #080E1A;
}
.toggle-mode--is-nightmode {
	background-color: transparent;

	transform: rotate(90deg);
	background-position: 100% 0;	
}

.body--is-nightmode .container {
	font-weight: 300;
	background-color: $black;
	/*background: #1A1110; /* Liqorice */
	color: $white;
}