.tag {
	display: inline-block;
	white-space: nowrap;
	font: 300 0.6667em/#{$base-space} 'Ubuntu', sans-serif;
	text-transform: uppercase;
	border:0;
	margin:0 1.2135em 0 0;
	padding:0 $base-space-xs;
	background: $secondary-text-color;
	color: $white;

	&:visited {
		background: $tertiary-text-color;
		color: $primary-text-color;
	}
}
/* When Nightmode is activated */
.body--is-nightmode .tag {
	background: $secondary-text-color;
	color: $primary-text-color;
}
.body--is-nightmode .tag:visited {
	background: $primary-text-color;
	color: $tertiary-text-color;
}
.tag:hover,
.tag:focus,
.tag:active,
.body--is-nightmode .tag:hover,
.body--is-nightmode .tag:focus,
.body--is-nightmode .tag:active {
	padding: $base-space-xs $base-space-s;
	margin: (- $base-space-s) $base-space-s (- $base-space-s) (- $base-space-xs);
	border-radius: $base-space-s $base-space-s $base-space-s 0;
	background: $primary-color;
	color: $white;
	border:0;
}