/* ==========================================================================


   Carloseriksson.com


   ========================================================================== */
/**
 * Scrutinize
 *
 * Highlights markup errors.
 */
$scrutinize: false;


/* Palette
   ========================================================================== */
/**
 * Colour names based on http://chir.ag/projects/name-that-color
 */
$deviate:						10;

$crimson:						hsl(345, 87%, 43%); /* #cd0e3e */
$fuel-yellow:					hsl(41,87%,53%); /* #efad1f */
$shamrock:						hsl(155, 67%, 53%); /* #37d795 */
$eucalyptus:					hsl(155, 87%, 33%); /* #1c8d5e */
$eastern-blue:					#1E9AB0;
$cocoblue:						#0F768A;


$jade:							#00B86B;
$tropical-rain-forest:			#00834d;

$crimson-light:					hsl(345, 97%, 58%); /* #FC2C60 */

$primary-color:					$eastern-blue;
$secondary-color:				$jade;
$tertiary-color:				$tropical-rain-forest;
$accent-color:					$fuel-yellow;

$black:							hsl(0,0%,12%);
$white:							hsl(0,0%,96%);

$dark-grey:						hsl(0,0%,18%);
$grey:							hsl(0,0%,60%);
$light-grey:					hsl(0,0%,83%);

$luma-100:						$white;
$luma-90:						mix($white, $black, 90%);
$luma-80:						mix($white, $black, 80%);
$luma-70:						mix($white, $black, 70%);
$luma-60:						mix($white, $black, 60%);
$luma-50:						mix($white, $black, 50%);
$luma-40:						mix($white, $black, 40%);
$luma-30:						mix($white, $black, 30%);
$luma-20:						mix($white, $black, 20%);
$luma-10:						mix($white, $black, 10%);
$luma-0:						$black;

$debug-bg:						rgba(255,0,0,.1);

$yellow:						#FFFF4D;
$focus-color:					$eucalyptus;
$mark-bg-color:					$fuel-yellow;

$link-color:					$black;
$link-color-visited:			hsl(0,0%,32%);
$link-color-underline:			hsl(0,0%,42%);
// $link-color-hover:				red;


/* Typography
   ========================================================================== */
$font-size:						18;

$font-leading:					27;

$font-weight:					400;
$font-style:					normal;
$font-family:					'Lora', Georgia, 'Droid Serif', serif;
$measure:						66;

$font-constant:					2.03;
/**
 * Font constant
 *
 * http://www.pearsonified.com/2012/01/characters-per-line.php
 * Georgia is e.g. 2.27, I've measured Merriweather at ~2.03
 *
 */

$heading-family:				'Cooper Hewitt', 'Helvetica Neue 85 Heavy', 'Arial Black', 'Roboto', sans-serif;
$heading-weight:				800;

$ui-family:						'Arial', sans-serif;
$ui-weight:						400;

$fixed-family:					Consolas, monospace;


/* Paths
   ========================================================================== */
$font-path:						"/assets/fonts/";


/**
 *
 * Transitions
 *
 */
$ease-in-out-back:				cubic-bezier(0.68, -0.55, 0.265, 1.55);

$transition-property-default: 	all;
$transition-duration-default:	300ms;
$transition-timing-default:		$ease-in-out-back;
$transition-delay-default:		0ms;



/**
 *
 * Opinionated breakpoints
 *
 */
$breakpoint-wrist:				321;
$breakpoint-palm:				481;
$breakpoint-lap:				769;
$breakpoint-desk:				1025;
$breakpoint-wall:				1367;
$breakpoint-mall:				1921;


$canon:							18;

$canon-margin-left:				2;
$canon-margin-top:				2;
$canon-margin-right:			4;
$canon-margin-bottom:			4;

$z-layers: (
	"goku":						9001, 
	"shoryuken":				8000,
	"modal": (
	"base":						500,
	"close":					100,
	"header":					50,
	"footer":					10
	),
	"default":					1,
	"below":					-1,
	"bottomless-pit":			-9000
);


/**
 *
 * Borders
 *
 */
$border-width:					1;
$border-style:					solid;
$border-color:					$light-grey;

$icon-new-window: "<svg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 10 10'><g><polygon points='0,1 0,10 7,10 7,7 6,7 6,9 1,9 1,2 2,2 2,1 '/><polygon points='4,0 10,0 10,6 9,6 9,2 6,5 5,4 8,1 4,1 '/></g></svg>"; 