/* ==========================================================================


   Axiomatic Owl


   ========================================================================== */
* {

	margin: 0;

}

* + * {

	margin-top: 0.75em;

}

* + .post-content h2,
* + .page-content h2,
* + .post-content h3,
* + .page-content h3,
* + .post-content h4,
* + .page-content h4,
* + .post-content h5,
* + .page-content h5,
* + .post-content h6,
* + .page-content h6 {

  margin-top: 1.5em;

}
