/* ==========================================================================


   Focus


   ========================================================================== */



*:focus {

	outline: none;
	box-shadow: 0 0.3rem 0 0 $focus-color;

	// background-color: $secondary-color;
	//outline: 0.2em solid $secondary-color;
	// color: $black;

}

.link--tertiary:focus {

	box-shadow: 0 0.3rem 0 0 $accent-color;

}
