html {
    font-size: 100%;
}
/* ==========================================================================

   16 - 18 (2)

   ========================================================================== */
body {
    font-size: calc( 16px + (18 - 16) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: calc( 22.4px + (27 - 22.4) * ( (100vw - 320px) / ( 1200 - 320) ));
    //line-height: 1.4;
    font-family: $font-family;
}

blockquote cite {
    font-size: calc( 16px + (18 - 16) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1.4;
}

/* ==========================================================================

   16 fixed (1)

   ========================================================================== */
.tag,
.reading-time,
.timestamp {

    font-weight: $font-weight;

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}
small { font-size: 1em; }
figcaption,
figure cite {
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.2;
    font-style: italic;
}

/* ==========================================================================

   19.2 - 23.994 (3)

   ========================================================================== */
ol li:before,
.tag .tag-count,
.post-ordinal {
    font-size: calc( 19.2px + (23.994 - 19.2) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1;

    font-family: $heading-family;
    font-weight: $heading-weight;
    letter-spacing: -0.05em;
}

.heading,
h1, h2, h3, h4, h5, h6,
ol li:before,
.tag .tag-count,
.post-ordinal {

    font-weight: $heading-weight;
    font-family: $heading-family;

    color: $black;

}

/* ==========================================================================

   19.2 - 23.994 (3)

   ========================================================================== */
.post-content h5 {
    font-size: calc( 19.2px + (23.994 - 19.2) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1;
}

/* ==========================================================================

   23.04 - 31.984002  (4)

   ========================================================================== */
.summary,
p[data-pullquote]:before,
blockquote,
.post-content h4 {
    font-size: calc( 23.04px + (31.984002 - 23.04) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1.3554;
}

/* ==========================================================================

   27.648 - 42.63467467  (5)

   ========================================================================== */
.post-heading--listing,
.post-content h3 {
    font-size: calc( 27.648px + (42.63467467 - 27.648) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1.35;
}

.post-heading--listing.post-heading--listing {

    margin-top: 0.25rem;
    margin-bottom: 0;

}

.post-preview + .post-preview {
    margin-top: 2.25em;
}

/* ==========================================================================

   33.1776 - 56.83202133  (6)

   ========================================================================== */
.post-content h2,
.homepage-intro {
    font-size: calc( 33.1776px + (56.83202133 - 33.1776) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1.22474;
}
.homepage-intro {
    font-weight: 500;
}

/* ==========================================================================

   39.81312 - 75.75708443  (7)

   ========================================================================== */
.post-title,
.case-study-title {
    font-size: calc( 39.81312px + (75.75708443 - 39.81312) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1.10668;
    letter-spacing: -0.02em;
}

/* ==========================================================================

   47.775744 - 100.9841935  (8)

   ========================================================================== */
.page-title {
    font-size: calc( 47.775744px + (100.9841935 - 47.775744) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1.05;
    letter-spacing: -0.02em;
}

.ol li:before,
.tag .tag-count,
.post-ordinal {
    //letter-spacing: -0.05em;
}

blockquote {
    font-style: italic;
}


p[data-pullquote]:before {
    font-weight: $heading-weight;
    font-family: $heading-family;
}

.page-content {

    margin-top: 3em;
    margin-bottom: 3em;

}