/**
 * ===========================================================================
 *
 * Globals
 *
 * ===========================================================================
 */
.wrapper {
	background-image: url(/assets/img/splash.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: auto;
}