/* ==========================================================================


   Blockquotes


   ========================================================================== */
blockquote {

	padding: 3em (4.5 / 1.5) +em;

	margin-left: -(4.5 / 1.5) +em;
	margin-right: -(4.5 / 1.5) +em;

	color: $luma-10;

	// border: 1em solid;
	// border-width: 0.25em 0;
	// border-color: inherit;

}

cite {
	
	font-style: normal;
	color: $black;
	display: block;

}

figure cite {}

blockquote cite {

	margin-top: 1.5em;

}

cite:before {

	content: "\2014";

}