/* ==========================================================================


   Forms


   ========================================================================== */



::-webkit-input-placeholder {
	
	// Inherit would be better but this is more readable.
	color: black;
	opacity: 0.54;

}



label {

	//display: block;
	//cursor: pointer;

}



input {
	
	// Inherit fonts for all browsers
	font: inherit;
	// Remove margins in Firefox and Safari
	margin: 0;
	// Show the overflow in IE Edge
	overflow: visible;
	// Make inputs shrink according to its parent
	min-width: 0;

	width: 100%;
	max-width: 44.44444vw;
	padding: 0.7em 0;

	background-color: transparent;
	
	border-radius: 0;
	border: 0.6vh solid luma(70);
	border-width: 0 0 0.6vh 0;

	&:hover {
	
		border-color: luma(60);

	}

	&:focus,
	&:active {

		box-shadow: none;
		border-color: $focus-color;

		// Remove _focus set background-color
		//background-color: white;
	
		// border-color: $primary-color;

	}

}

.field-group {}
.field-group__label {}
.field-group__input {
	
	&--text {}

}



.field-group__wrapper {
	
	// This allows us to flex align a button flushed with an input
	
	// Positioning the icon inside
	position: relative;

}
.field-group__icon {

	position: absolute;
	top: 0.75em;
	left: 0.75em;

	// Add space for inputs followed by icons
	+ .field-group__input {
	
		padding-left: 3em;

	}

}