/* ==========================================================================


   Headings


   ========================================================================== */
.subheading {

	position: relative;

	padding-top: 1.5em;
	border-top: 0.6vh solid luma(90);

	&:before {

		content: " ";
		display: block;

		width: 33.3333%;
		height: 0.6vh;

		position: absolute;
		top: -0.6vh;
		left: 0;

		background-color: luma(70);

	}

}

.archive-subheading,
.topics-subheading {

	margin-top: 1.5em;

}

.no-margin {

	margin: 0 !important;

}
