/**
 * ===========================================================================
 *
 * Alignments
 *
 * ===========================================================================
 *
 */
.align-left,
.align-center,
.align-right {
	text-align: left;
}
.center-on-lt-lap,
.align-center {
	@include mq($breakpointLap) {
		text-align: center;
	}
}
.right-on-lt-lap,
.align-right {
	@include mq($breakpointLap) {
		text-align: right;
	}
}
.keep-left {
	text-align: left;
}
.keep-center {
	text-align: center;
}
.keep-right {
	text-align: right;
}