body {
	&:after {
		content: "Default";
		display: block;
		font: 0/0 a;
	}
	@include mq($breakpointWrist) {
		&:after {
			content: "#{$breakpointWrist}";
		}	
	}
	@include mq($breakpointPalm) {
		&:after {
			content: "#{$breakpointPalm}";
		}	
	}
	@include mq($breakpointLap) {
		&:after {
			content: "#{$breakpointLap}";
		}	
	}
	@include mq($breakpointDesk) {
		&:after {
			content: "#{$breakpointDesk}";
		}	
	}
	@include mq($breakpointWall) {
		&:after {
			content: "#{$breakpointWall}";
		}	
	}
	@include mq($breakpointMall) {
		&:after {
			content: "#{$breakpointMall}";
		}	
	}
}