/* ==========================================================================


	 Flex grid


	 ========================================================================== */



.group {

	display: flex;
	flex-direction: column;

	width: 100%;

	margin-top: 0;
	margin-bottom: 0;
	margin-right: ((100 / $canon) * $canon-margin-right) +0%;
	margin-left: ((100 / $canon) * $canon-margin-left) +0%;

	max-width: ((100 / $canon) * ($canon - ($canon-margin-right + $canon-margin-left))) +0%;

	@include mq($breakpointDesk) {
		
		flex-direction: row;

		max-width: ((100 / $canon) * ($canon - ($canon-margin-right-lap + $canon-margin-left-lap))) +0%;

		margin-right: ((100 / $canon) * $canon-margin-right-lap) +0%;
		margin-left: ((100 / $canon) * $canon-margin-left-lap) +0%;

	}

	@include mq($breakpointWall) {

		// max-width: 66.6666%;
		// margin-right: ($proportion-right / ($canon/100));
		// margin-left: ($proportion-left / ($canon/100));

	}

}

.group[role="main"] {

	// padding: em($fontLeading);

	@include mq($breakpointDesk) {

		padding: 0;

	}

}

.flex-group {

	display: flex;
	flex-direction: column;

	@include mq($breakpointDesk) {
		
		flex-direction: row;

	}

}

.col {

	flex: 1;
	margin-right: em($fontLeading);

	&:last-child {

		margin-right: 0;

	}

}



[class~="col--main"] {
	
	width: 100%;
	flex: 0  1 auto;
	// background: rgba(255,0,0,.2);

	@include mq($measure*($fontSize/$fontConstant)) {

		width: em($measure*($fontSizeLap/$fontConstant), $fontSizeLap); /* 523.38 32.69 */
		background: transparent;

	}

}
// .group {
// 	@extend %clearfix;

// 	width: 100%;
// 	display: block;

// 	margin-top: 0;
// 	margin-right: auto;
// 	margin-bottom: 0;
// 	margin-left: auto;

// 	// background-color: $debugBg;

// 	@include mq($breakpointLap) {
// 		display: table;
// 		table-layout: fixed;
// 	}


// 	@include mq($breakpointDesk) {
// 		max-width: 77.7777%;
// 		margin-right: 11.1111%;
// 		margin-left: 5.5555%;
// 	}
// 	@include mq($breakpointWall) {
// 		max-width: 66.6666%;
// 		margin-right: 22.2222%;
// 		margin-left: 11.1111%;
// 	}
// }
// %column {
// 	float: left;
// 	position: relative;
// 	width: 100%;
// }

// [class~="span-1/2"] {
// 	@extend %column;

// 	width: calc(#{100% * 0.5} - #{em($fontLeading * 0.5)});
// 	margin: 0 em($fontLeading) 0 0;
// }

// [class~="span-1/3"] {
// 	@extend %column;

// 	width: calc(#{100% * 0.3333} - #{em($fontLeading * 0.6666)});
// 	margin: 0 em($fontLeading) 0 0;
// }

// [class~="span-2/3"] {
// 	@extend %column;

// 	width: calc(#{100% * 0.6666} - #{em($fontLeading * 0.3333)});
// 	margin: 0 em($fontLeading) 0 0;
// }

// [class~="span-1/1"] {
// 	@extend %column;

// 	width: 100%;
// }
// /**
//  *
//  * Special columns for main content
//  *
//  */
// [class~="span-main"] {
	
// 	width: 100%;
// 	// background: rgba(255,0,0,.2);

// 	@include mq($measure*($fontSize/$fontConstant)) {
// 		display: table-cell;
// 		width: em($measure*($fontSizeLap/$fontConstant), $fontSizeLap); /* 523.38 32.69 */
// 		background: transparent;
// 	}
// }
// [class~="span-complementary"] {
	
// 	width: 100%;

// 	// background-color: $debugBg;
	
// 	@include mq($measure*($fontSize/$fontConstant)) {
// 		display: table-cell;
// 		padding-left: em($fontLeading);
// 	}
// }
/**
 *
 * Remove right margin on last child on div all groups
 *
 */
// .group > [class^="span-"]:last-child,
// .group > div:last-child {
// 	margin-right: 0;
// }