/* ==========================================================================

   Link

   ========================================================================== */
a {

    position: relative;
    text-decoration: none;

    background-image: linear-gradient(to bottom, $link-color-underline 100%, $link-color-underline 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0.1111em 0.1111em;

    color: $link-color;

    @include transition($property: background-size, $timing: ease-in-out, $duration: 150ms);

    &:visited {

        color: $link-color-visited;

    }

    &:hover,
    &:focus,
    &:active {

        // background-image: linear-gradient(to bottom, transparent 12%, $black 12%, $black 93%, transparent 93%);
        background-image: linear-gradient(to bottom, $black 100%, $black 100%);
        background-position: 0 100%;
        background-size: 0.2222em 0.2222em;

        color: $black;

    }

}

// Show the link destination where hover is supported
a[href*="http"]:hover:before,
a[href*="http"]:focus:before,
a[href^="spotify"]:focus:before {

    // Make sure that the augmented link doesn't interfere with hovering other links.
    pointer-events: none;

    content: attr(href);
    display: block;
    position: absolute;
    top: -1.54rem;
    left: 0;

    z-index: 100;

    background-color: $primary-color;
    border-bottom: 0.2rem solid $white;
    color: $white;

    padding: 0.34em 0.51em;

    font-family: $ui-family;
    font-style: $font-style;
    font-weight: $font-weight;

    letter-spacing: 0.015rem;
    font-size: 0.74rem;
    white-space: nowrap;

}