/* ==========================================================================


   Styleguide: Colors


   ========================================================================== */

.sg__swatches {

	display: flex;
	flex-direction: row;

}

.sg__swatch {

	margin-top: 0;

	border: 1px solid $luma-90;
	flex: 1 0 auto;
	margin-bottom: 1.5em;
	padding-top: 7em;
	min-width: 24%;

	&__label {

		background-color: white;
		border-top: 1px solid $luma-90;
		color: $black;
		padding: 0.75em;

	}

}

.bg {

	&--primary {

		background-color: $primary-color;

	}

	&--secondary {

		background-color: $secondary-color;

	}

	&--tertiary {

		background-color: $tertiary-color;

	}

	&--accent {

		background-color: $accent-color;

	}

}