.cta {

    padding: 5.55vh 5.5555vw;

    margin-top: 4.5em;
    margin-bottom: 4.5em;

    margin-left: -5.5555vw;
    margin-right: -11.1111vw;

    position: relative;

    background-color: $primary-color;
    border-color: $primary-color;

    &:before {

        content: " ";
        position: absolute;
        top: 0;
        right: -11.1111vw;
        display: block;
        width: 11.1111vw;
        height: 2.7777vw;

        border: 2.7777vw solid;
        border-width: 0 0 2.7777vw 0;
        border-color: inherit;

    }

    @include mq($breakpoint-lap) {

        padding: 11.1111vh 11.1111vw;

        margin-left: -11.1111vw;
        margin-right: -11.1111vw;

    }

}

.cta-link {

    position: relative;

    &:after {

        content: " ";
        background-image: svg-url("<svg viewBox='0 0 87 100' xmlns='http://www.w3.org/2000/svg'><path fill='rgba(0,0,0,0.25)' d='M86.6 50L0 100V0z' fill-rule='evenodd'/></svg>");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 0.75em;
        height: 0.75em;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-200%, -50%);
        //transition: all 150ms ease-in-out 0ms;

    }

    &:hover:after,
    &:focus:after {

        //transform: translate(-200%, -50%) scale(5);
        //transition: all 150ms ease-in-out 0ms;

    }

}
