/* ==========================================================================

   Lists

   ========================================================================== */
ol,ul,dl {

    color: $black;

}


/*
 * Ordered list
 */
ol {

    counter-reset: orderedList;
    list-style: none;
    padding-left: 3.375em;
    margin-top: 1.5em;
    margin-bottom: 4.5em;

    ol {

        counter-reset: orderedList;
        margin-top: 0;

    }

}



ol li {

    // display: table-row;
    position: relative;

    &:before {

        color: luma(70);

        content: counters(orderedList, ".");

        counter-increment: orderedList;
        display: block;
        left: -3.375rem;

        position: absolute;

        top: 0.275em;
        width: 3.375rem;
        // padding-right: 0.75em;

    }

    &:after {

        content: " ";
        display: block;
        margin-bottom: 0.5em;

    }

}


/*
 * Unordered list
 */
ul {

    list-style: none;
    padding-left: 3.375em;
    margin-top: 1.5em;
    margin-bottom: 4.5em;

}

ul li {

    position: relative;

    &:before {

        background-color: luma(70);
        content: " ";
        height: 1.3888vh;
        left: -3.375em;

        position: absolute;

        top: 0.625em;
        width: 1.125em;

    }

}



/*
 * Inline list
 */
.inline-list {

    list-style-type: none;

    margin-bottom: 0;
    padding-left: 0;

    li {

        display: inline-block;
        margin-top: 0;

    }

    li:before {

        content: none;

    }

}



/*
 * Clean list
 */
.clean-list {

    list-style-type: none;

    margin-bottom: 0;
    padding-left: 0;

    li {

        margin-top: 0;

    }

    li:before,
    li:after {

        content: none;

    }

}

.tag-list {

    display: inline-block;
    padding-left: 0;

    position: relative;

    &:after {

        //content: " ";
        background-color: $primary-color;
        display: block;
        height: 100%;
        left: em(16);
        position: absolute;
        top: em(16);
        width: 100%;
        z-index: z("below");

    }

    li {
        display: inline-block;
    }

    li:before { content: none; }

}
