/* ==========================================================================

   Lists

   ========================================================================== */
ol,ul,dl {

    color: $black;

}


/*
 * Ordered list
 */
ol {

    list-style: none;
    padding-left: 2.25em;
    counter-reset: orderedList;

    ol {

        counter-reset: orderedList;
        margin-top: 0;

    }

}



ol li {

    // display: table-row;
    position: relative;

    &:before {

        display: block;

        width: 3em;

        position: absolute;
        top: 0.275em;
        left: -3.5em;

        color: luma(70);

        counter-increment: orderedList;
        content: counters(orderedList, ".");
        text-align: right;
        // padding-right: 0.75em;

    }

    &:after {

        content: " ";
        display: block;
        margin-bottom: 0.5em;

    }

}


/*
 * Unordered list
 */
ul {

    list-style: none;
    padding-left: 2.25em;
    // margin-bottom: 0;

}

ul li {

    position: relative;

    &:before {

        color: $luma-80;
        content: "\2666";

        position: absolute;

        top: 0;
        left: -2.25em;

    }

}



/*
 * Inline list
 */
.inline-list {

    list-style-type: none;

    padding-left: 0;
    margin-bottom: 0;

    li {

        display: inline-block;
        margin-top: 0;

    }

    li:before {

        content: none;

    }

}



/*
 * Clean list
 */
.clean-list {

    list-style-type: none;

    padding-left: 0;
    margin-bottom: 0;

    li {

        margin-top: 0;

    }

    li:before,
    li:after {

        content: none;

    }

}

.tag-list {

    display: inline-block;
    position: relative;

    &:after {

        //content: " ";
        display: block;
        position: absolute;
        top: em(16);
        left: em(16);
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        z-index: z("below");

    }

    padding-left: 0;

    li {
        display: inline-block;
    }

    li:before { content: none; }

}