/* ==========================================================================


   Blockquotes


   ========================================================================== */
blockquote {

    padding: 3em (4.5 / 1.5) +em;

    margin-left: -(4.5 / 1.5) +em;
    margin-right: -(4.5 / 1.5) +em;

    border-color: inherit;

    color: $luma-10;

    // border: 1em solid;
    // border-width: 0.25em 0;
    // border-color: inherit;

    p {
        position: relative;
    }

    p:before, p:after {

        content: " ";
        display: block;
        position: absolute;

    }

    // small circle
    p:before {

        width: 11.1111vw;
        height: 2.7777vw;
        top: -5.55vw;
        left: -11.1111vw;
        border: 2.7777vw solid;
        border-width: 2.7777vw 0 0 0 ;
        border-color: inherit;

    }

    // big circle
    p:after {

        top: -2.7777vw;
        right: -11.11vw;

        z-index: -1;

        width: 16.6666vw;
        height: 16.6666vw;
        border: 16.6666vw solid;
        border-width: 0 0 16.6666vw 0;
        border-color: inherit;
        opacity: 0.2;

    }

}

// If there's ever a second blockquote, let's make it different
blockquote:nth-of-type(2) {

    // small circle
    p:before {

        width: 44.4444vw;
        height: 1.3888vw;
        position: absolute;
        bottom: -5.55vw;
        top: auto;
        left: auto;
        right: -44.4444vw;
        border: 1.3888vw solid;
        border-width: 1.3888vw 0 0 0 ;
        border-color: inherit;

    }

    // big circle
    p:after {

        top: -2.7777vw;
        right: auto;
        left: -8.3333vw;

        z-index: -1;

        width: 11.1111vw;
        height: 11.1111vw;
        border: 11.1111vw solid;
        border-width: 0 0 11.1111vw 0;
        border-color: inherit;
        opacity: 0.2;

    }

}

cite {

    font-style: normal;
    color: $black;
    display: block;

}

figure cite {}

blockquote cite {

    margin-top: 1.5em;

}

cite:before {

    content: "\2014";

}
