/* ==========================================================================

   Search

   ========================================================================== */
::-webkit-input-placeholder {

    // Inherit would be better but this is more readable.
    color: $black;
    opacity: 0.54;

}
input {

    // Inherit fonts for all browsers
    //font: inherit;

    font-family: $heading-family;
    font-weight: $heading-weight;
    //letter-spacing: -0.05em;

    font-size: calc( 23.04px + (31.984002 - 23.04) * ( (100vw - 320px) / ( 1200 - 320) ));
    line-height: 1.3554;

    // Remove margins in Firefox and Safari
    margin: 0;
    // Show the overflow in IE Edge
    overflow: visible;
    // Make inputs shrink according to its parent
    min-width: 0;

    width: 100%;
    max-width: 66.6666vw;
    padding: 0.5em 0 0.1em 0;

    background-color: transparent;
    color: inherit;

    border-radius: 0;
    border: 0.25em solid $accent-color;
    border-width: 0 0 1.3888vh 0;

    &:hover {

        border-color: luma(60);

    }

    &:focus,
    &:active {

        box-shadow: none;
        border-color: white;

        // Remove _focus set background-color
        //background-color: white;

        // border-color: $primary-color;

    }

}

.search {

    position: absolute;
    top: 11.1111vh;
    right: 22.2222vw;
    z-index: z("search");

    width: 0;
    min-height: 0;
    height: 24px;
    overflow: hidden;

    margin-top: 0;

    background-color: $primary-color;
    color: $black;
    //box-shadow: inset 0 -0.6vh 0.6vh 0 rgba($black, 0.1);
    transform-origin: top right;
    transition-property: width, right, top, min-height;
    transition-duration: 200ms, 200ms, 800ms, 800ms;
    transition-timing-function: $ease-in-out-back;
    transition-delay: 800ms, 800ms, 200ms, 200ms;

    //@include transition($timing: ease-in-out)

}

.search-examples {
    max-width: 44.4444vw;
}

.search:focus-within {

    top: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    transition-delay: 0ms, 0ms, 200ms, 200ms;

    //min-height: 100vh;
    overflow: visible;

    .search-container {
        opacity: 1;
        transition: opacity 200ms ease 800ms;
    }

}

.search-container {

    //padding-top: 2.7777vh;
    //padding-bottom: 2.7777vh;
    //padding-left: 11.1111vw;
    //padding-right: 22.2222vw;

    height: 100%;
    padding-top: 11.1111vh;
    padding-bottom: 22.2222vh;
    padding-left: 11.1111vw;
    padding-right: 22.2222vw;

    transition: opacity 300ms ease 0ms;
    opacity: 0;

}

.toggle-search {

    color: luma(70);
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {

        color: $primary-color;

    }

}

.close-search {

    visibility: hidden;

    position: absolute;
    top: 11.1111vh;
    right: 22.2222vw;
    z-index: z("search-close");
    color: white;

    &:hover {

        color: red;
        cursor: pointer;

    }
}

.search:focus-within .close-search {
    visibility: visible;
}

.search-results {

    color: inherit;

    columns: 2 auto;

    .post-title--search, p { color: inherit; }

    a {

        // Remove margin added by nav
        margin-left: 0 !important;

        &:visited {

            //color: $black;

        }

        &:hover,
        &:focus,
        &:active {

            //background-image: linear-gradient(to bottom, $white 100%, $white 100%);
            //color: $black;

        }

    }

}

.search-tips {

    .search-quicklinks {
        columns: 3 auto;
    }

    p, .search-quicklinks__heading {
        color: inherit;
    }

    a {

        // Remove margin added by nav
        margin-left: 0 !important;

        &:visited {

            //color: $white;

        }

        &:hover,
        &:focus,
        &:active {

            //background-image: linear-gradient(to bottom, $white 100%, $white 100%);
            //color: white;

        }

    }

}