---
layout: default
---
<div class="container">

  <header class="group">
    <div class="col col--primary">
      
      <h1 class="page-heading page-type--{{ page.category }}" {% if page.color %} style="color: {{ page.color }};"{% endif %}><span>{{ page.title | markdownify | strip_html | trim  }}</span></h1>

    </div>
  </header>

 <div class="group" role="main">
   <section class="col col--primary">

      {% if page.excerpt %}
      <div class="lead">{{ page.excerpt | markdownify }}</div>
      {% endif %}
      

    <article class="page-content page-type--{{ page.category }}" lang="en"{% if page.color %} style="border-color:{{ page.color }} {{ page.color }} {{ page.color2 }} {{ page.color2 }}; color: {{ page.color }};"{% endif %}>
      {{ content }}
    </article>

   </section>
   <aside class="col col--secondary" role="complementary">

    <ul class="clean-list">
      <li><a href="/about">About</a></li>
      <li><a href="/speaking">Speaking</a></li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/now">Now</a></li>
    </ul>
    <hr>
    <ul class="clean-list">
      <li><a href="/colophon"><small>Colophon</small></a></li>
      <!-- <li><a href="/styleguide">Styleguide</a></li> -->
      <li><a href="/sitemap.xml"><small>Sitemap</small></a></li>
      <li><a href="https://github.com/fiinix/fiinix.github.io"><small>Source (GitHub)</small></a></li>
    </ul>

   </aside>
 </div>
</div>