---
layout: default
---
<div class="container" data-layout="archive">

  <div class="group">
    <div class="col col--primary">

        <h1 class="page-heading page-type--{{ page.category }}" {% if page.color %} style="color: {{ page.color }};"{% endif %}><span>{{ page.title | markdownify | strip_html | trim  }}</span></h1>

    </div>
  </div>

 <div class="group" role="main">
   <section class="col col--primary">

    {% if page.excerpt %}
      <p class="lead">{{ page.excerpt | markdownify | strip_html | trim }}</p>
    {% endif %}

    <article class="page-content page-type--{{ page.category }}" lang="en"{% if page.color %} style="border-color:{{ page.color }} {{ page.color }} {{ page.color2 }} {{ page.color2 }}; color: {{ page.color }};"{% endif %}>
      {{ content }}
    </article>

   </section>
   <aside class="col col--secondary" role="complementary">

    <ul class="clean-list">
      <li><a href="/archive">Archive</a> <small>&times; {{ site.posts | size }}</small></li>
      <li><a href="/topics">Topics</a> <small>&times; {{ site.tags | size }}</small></li>
      <li><a href="/feed.xml">Subscribe via RSS</a></li>
    </ul>

    <h2 class="h4 subheading">By year</h2>

    <ul class="clean-list">
{% assign counter = 0 %}
{% for post in site.posts %}
{% assign thisyear = post.date | date: "%Y" %}
{% assign prevyear = post.previous.date | date: "%Y" %}
{% assign counter = counter | plus: 1 %}
{% if thisyear != prevyear %}
<li>
  <a href="/archive/{{ post.date | date:"%Y" }}">{{ thisyear }}</a>
  <small>&times; {{ counter }}</small>
</li>
{% assign counter = 0 %}
{% endif %}
{% endfor %}
    </ul>


   </aside>
 </div>
</div>