<!DOCTYPE html>
<html class="no-js" lang="en">

	{% include head.html %}

	<!-- {% if page.tile and page.color %}
	<body style="background-color:{{ page.color }};background-image:url({{ page.tile }});">
	{% elsif page.tile %}
	<body style="background-image:url({{ page.tile }});">
	{% elsif page.color %}
	<body style="background-color:{{ page.color }};">
	{% else %}
	<body>
	{% endif %} -->
	<body>

		<!-- SVG -->
			{% include icons.svg %}
		<!-- / SVG -->

		{% include branding.html %}

		<!-- Wrapper -->
		<div class="wrapper" id="top">

		{% include nav.html %}
		{% include header.html %}

			{{ content }}

		{% include footer.html %}

		</div>
		<!-- /Wrapper -->

		<script>
			{% include functions.min.js %}
		</script>
	
		</body>
</html>