<!DOCTYPE html>
<html>

	{% include head.html %}

	<!-- {% if page.tile and page.color %}
	<body style="background-color:{{ page.color }};background-image:url({{ page.tile }});">
	{% elsif page.tile %}
	<body style="background-image:url({{ page.tile }});">
	{% elsif page.color %}
	<body style="background-color:{{ page.color }};">
	{% else %}
	<body>
	{% endif %} -->
	<body>

		{% include nav.html %}

		<!-- Wrapper -->
		<div class="wrapper" id="top">

		{% include header.html %}

			{{ content }}

		{% include footer.html %}

	</div>
	<!-- /Wrapper -->
	{% include scripts.html %}
		</body>
</html>