---
layout: compress
---
<!DOCTYPE html>
<html class="no-js" lang="en">

	{% include head.html %}

	<body>

		<!-- SVG -->
			{% include icons.svg %}
		<!-- / SVG -->

		{% include branding.html %}

		{% include search.html %}

		<!-- Wrapper -->
		<div class="wrapper" id="top">

		{% include nav.html %}

			{{ content }}

		{% include footer.html %}

		</div>
		<!-- /Wrapper -->
		<link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}?v=1.0.0">
		<script>
			{% include functions.min.js %}
		</script>
		</body>
</html>