---
layout: default
---
<div class="container" data-layout="journal">

  <header class="group">
    <div class="col col--primary">

        <h1 class="page-title page-type--{{ page.category | downcase }}" {% if page.color %} style="color: {{ page.color }};"{% endif %}>
            <span>{{ page.title | markdownify | strip_html | trim  }}</span>
        </h1>

    </div>
  </header>

 <div class="group" role="main">
   <section class="col col--primary">


       {% for post in site.posts limit:1 %}

       {% assign currentDateClean = site.time | date: "%Y-%m-%d 00:00:00" %}
       {% assign previousDateClean = post.date | date: "%Y-%m-%d 00:00:00" %}

       {%   assign today = currentDateClean | date: '%s' %}
       {%   assign start = previousDateClean | date: '%s' %}
       {%   assign secondsSince = today | minus: start %}
       {%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
       {%   assign daysSince = hoursSince | divided_by: 24.0 | round %}

       {% if daysSince == 0 %}
        {% assign statement = "in 14 days." %}
       {% elsif daysSince == 14 %}
        {% assign statement = "today." %}
       {% elsif daysSince == 13 %}
        {% assign statement = 14|minus: daysSince | prepend: "in " | append: " day." %}
       {% else %}
        {% assign statement = 14|minus: daysSince | prepend: "in " | append: " days." %}
       {% endif %}

       {% endfor %}


    {% if page.excerpt %}
       <!--<div class="summary"><p>{{ page.excerpt | markdownify | strip_html | append: statement }}</p></div>-->
      <div class="summary"><p>{{ page.excerpt | markdownify | strip_html }}</p></div>
      {% endif %}

    <article class="page-content page-type--{{ page.category | downcase }}" lang="en"{% if page.color %} style="border-color:{{ page.color }} {{ page.color }} {{ page.color2 }} {{ page.color2 }}; color: {{ page.color }};"{% endif %}>
      {{ content }}
    </article>

   </section>
   <aside class="col col--secondary" role="complementary">

    <ul class="clean-list">
      <li><a href="/archive">All entries</a> <small>&times; {{ site.posts | size }}</small></li>
      <li><a href="/topics">All topics</a> <small>&times; {{ site.tags | size }}</small></li>
      <li><a href="/themes">All themes</a> <small>&times; {{ site.categories | size }}</small></li>
      <li><a href="/feed.xml">Subscribe via RSS</a></li>
    </ul>

   </aside>
 </div>
</div>
