---
layout: default
---
<div class="container">

  <div class="group">
    <div class="col col--primary">
      
      <h1 class="page-heading page-type--{{ page.category }}" {% if page.color %} style="color: {{ page.color }};"{% endif %}>{{ page.title | markdownify | strip_html | trim  }}</h1>

    </div>
  </div>

 <div class="group" role="main">
   <section class="col col--primary">

    {% if page.excerpt %}
      <p class="lead">{{ page.excerpt | markdownify | strip_html | trim }}</p>
    {% endif %}

    <article class="page-content page-type--{{ page.category }}" lang="en"{% if page.color %} style="border-color:{{ page.color }} {{ page.color }} {{ page.color2 }} {{ page.color2 }}; color: {{ page.color }};"{% endif %}>
      {{ content }}
    </article>

   </section>
   <aside class="col col--secondary" role="complementary">

    <ul class="clean-list">
      <li><a href="/archive">Archive</a> ({{ site.posts | size }})</li>
      <li><a href="/topics">Topics</a></li>
      <li><a href="/feed.xml">Subscribe via RSS</a></li>
    </ul>

   </aside>
 </div>
</div>