---
layout: default
---
<div class="container" data-layout="page">

    <header class="group">
        <div class="col col--primary">

            <h1 class="page-title page-type--{{ page.category | downcase }}" {% if page.color %} style="color: {{ page.color }};"{% endif %}>
                <span>{{ page.title | markdownify | strip_html | trim  }}</span>
            </h1>

        </div>
    </header>

    <div class="group" role="main">
        <section class="col col--primary">

            {% if page.excerpt %}
            <div class="summary"><p>{{ page.excerpt | markdownify | strip_html }}</p></div>
            {% endif %}

            <article class="page-content page-type--{{ page.category | downcase }}" lang="en"{% if page.color %} style="border-color:{{ page.color }} {{ page.color }} {{ page.color2 }} {{ page.color2 }}; color: {{ page.color }};"{% endif %}>
                {{ content }}
            </article>

        </section>
        <aside class="col col--secondary" role="complementary">

            <ul class="clean-list">
                <li><a href="/archive">All entries</a> <small>&times; {{ site.posts | size }}</small></li>
                <li><a href="/topics">All topics</a> <small>&times; {{ site.tags | size }}</small></li>
                <li><a href="/feed.xml">Subscribe via RSS</a></li>
            </ul>

        </aside>
    </div>
</div>