---
layout: default
---
<div class="container">
<div class="group" role="main">
  <section class="col--primary">

    <header class="post-header post--special">
      <h1 data-heading-overlay="{{ page.title }}" class="post-heading" style="color: {{ page.color2 }};">{{ page.title }}</h1>

      <div class="group">
        <div class="col">
          <p>{% include date.html type="page" %}</p>
        </div>
        <div class="col align-right">
          {% include reading-time.html type="page" %}
        </div>
      </div>

      <p class="lead">
        {{ page.excerpt | markdownify | strip_html | trim }}
      </p>

    </header>

    <article class="post-content" lang="en" {% if page.color %} style="border-color:{{ page.color2 }} {{ page.color }}; color: {{ page.color }};"{% endif %}>
      {{ content }}
    </article>

    {% include post__tags.html %}
    <hr>
    {% include post__pagination.html %}
    <hr>
    {% include disqus.html %}

  </section>
</div>
</div>