---
layout: default
---
<svg width="75%" height="1.5em">
<defs>
  <pattern id="texture" patternUnits="userSpaceOnUse" width="300" height="300" >
    <image xlink:href="{{ page.tile }}" width="300" height="300" />
  </pattern>
</defs>
<text y="1.2em" fill="url(#texture)">{{ page.title }}</text>
</svg>

<!-- {% if page.tile and page.color %}
  <body style="background-color:{{ page.color }};background-image:url({{ page.tile }});">
  {% elsif page.tile %}
  <body style="background-image:url({{ page.tile }});">
  {% elsif page.color %}
  <body style="background-color:{{ page.color }};">
  {% else %}
  <body>
  {% endif %} -->

<div class="group" role="main">
  <section class="col--main">

    <header class="post-header">
      <h1 class="post-heading" style="color: {{ page.color }};">{{ page.title }}</h1>

      <p class="align-center">{% include date.html type="page" %}<br>
        {% include reading-time.html type="page" %}</p>

      <p class="lead">
        {{ page.excerpt | markdownify | strip_html | trim }}
      </p>

    </header>

    <article class="post-content" lang="en" {% if page.color %} style="border-color:{{ page.color }}; color: {{ page.color }};"{% endif %}>
      {{ content }}
    </article>

    {% include post__tags.html %}
    {% include back-to-top.html %}
    <hr>
    {% include post__pagination.html %}
    <hr>
    {% include disqus.html %}

  </section>
</div>