---
layout: default
---
<div class="container">
<div class="group" role="main">
  <section class="col col--primary">

    <svg class="decorative-title">
    <defs>
      <pattern id="texture" patternUnits="userSpaceOnUse" width="{{ page.cover-width }}" height="{{ page.cover-height }}" >
        <image xlink:href="{{ page.cover }}" width="{{ page.cover-width }}" height="{{ page.cover-height }}" />
      </pattern>
    </defs>
    <!-- <polygon width="150" height="150" fill="url(#texture)" points="0,5 5,10 6,9 3,6 10,6 10,4 3,4 6,1 5,0   "/> -->
    <polygon width="474" height="512" fill="url(#texture)" points="52,410.6 0,182.7 145.7,0 473.2,0 473.2,410.6 262.6,512 "/>
    
  </svg>


    <header class="post-header post--new">
      <h1 class="post-heading" data-heading-overlay="{{ page.title }}"{% if page.color %} style="color: {{ page.color }};"{% endif %}>{{ page.title }}</h1>

      <div class="group">
        <div class="col">
          <p>{% include date.html type="page" %}</p>
        </div>
        <div class="col align-right">
          {% include reading-time.html type="page" %}
        </div>
      </div>

      <p class="lead">{{ page.excerpt | markdownify | strip_html | trim }}</p>

    </header>

    <article class="post-content" lang="en" {% if page.color %} style="border-color:{{ page.color }} {{ page.color }} {{ page.color2 }} {{ page.color2 }}; color: {{ page.color }};"{% endif %}>
      {{ content }}
    </article>


    <footer class="post-footer">
      {% include post__tags.html %}
      <hr>
      {% include post__pagination.html %}
    </footer>


  </section>
</div>
</div>