---
layout: default
---
<div class="container">

  <div class="group">
    <div class="col col--primary">
      
      <h1 class="h2 post-heading post-type--{{ page.category }}" data-heading="{{ page.title | markdownify | strip_html | trim  }}"{% if page.color %} style="color: {{ page.color }};"{% endif %}>
        <span {% if page.color %} style="background-color: {{ page.color }};"{% endif %} >{{ page.title | markdownify | strip_html | trim  }}</span></h1>

        <p>{% include date.html type="page" %} {% include reading-time.html type="page" %}

    </div>
  </div>

<div class="group" role="main">
  <section class="col col--primary">

    {% if page.category == 'archive' %}
      <p class="disclaimer">{% include post__archived.html %}</p>
      {% elsif page.disclaimer || page.discretion %}
      <p class="disclaimer">{{ page.disclaimer | markdownify | strip_html | trim }}</p>
      {% endif %}

      {% if page.excerpt %}
      <div class="lead">{{ page.excerpt | markdownify }}</div>
      {% endif %}

    <article class="post-content post-type--{{ page.category }}" lang="en"{% if page.color %} style="border-color:{{ page.color }} {{ page.color }} {{ page.color2 }} {{ page.color2 }}; color: {{ page.color }};"{% endif %}>
      {{ content }}
    </article>

    {% include post__related.html %}
    {% include post__pager.html %}

  </section>
  <aside class="col col--secondary">

  <!-- <p>{% include date.html type="page" %}<br>
  {% include reading-time.html type="page" %}</p> -->
  {% include post__tags.html %}
    
  </aside>
</div>
</div>