---
layout: default
---
{% assign post_counter = 1 %}
{% assign currentPost = page.date | date: '%s' %}

{% for post in site.posts %}
  {% assign loopPost = post.date | date: '%s' %}

  {% if loopPost < currentPost %}
    {% assign post_counter = post_counter | plus: 1 %}
  {% endif %}
{% endfor %}

<div class="container" data-layout="post">

  <div class="group">
    <div class="col col--title">
      
      <!--<h1 class="h2 post-heading post-type&#45;&#45;{{ page.category }}" data-heading="{{ page.title | markdownify | strip_html | trim  }}">-->
        <!--<span style=" {% if page.text %}color:black;{% endif %} {% if page.color %} background-color: {{ page.color }};{% endif %} ">{{ page.title | markdownify | strip_html | trim  }}</span>-->
      <!--</h1>-->

      <!--<h1 class="h2 post-heading&#45;&#45;details post-type&#45;&#45;{{ page.category }}" data-heading="{{ page.title | markdownify | strip_html | trim  }}" style="{% if page.text %}color:red;{% endif %} {% if page.color %} color: {{ page.color }};{% endif %}">-->
        <!--<span style="color: inherit; {% if page.color2 %} text-shadow: 1px 1px 0 {% if page.color2 == 'white' %}black{% else %}white{% endif %}, 3px 4px 0 {{ page.color2 }}; background-image: linear-gradient(to bottom, {{ page.color2 }} 100%, {{ page.color2 }} 100%){% endif %}">{{ page.title | markdownify | strip_html | trim  }}</span>-->
      <!--</h1>-->

      <!--<h1 class="h2 post-heading post-heading&#45;&#45;details post-type&#45;&#45;{{ page.category }}" data-heading="{{ page.title | markdownify | strip_html | trim  }}" style="{% if page.text %}color:red;{% endif %} {% if page.color %} color: {{ page.color }};{% endif %}">-->
        <!--<span style="color: inherit; {% if page.color2 %} background-image: linear-gradient(to bottom, {{ page.color2 }} 100%, {{ page.color2 }} 100%){% endif %}">{{ page.title | markdownify | strip_html | trim  }}</span>-->
      <!--</h1>-->

      <h1 class="post-title">
        <span style="color: inherit; {% if page.color %} background-image: linear-gradient(to bottom, {{ page.color }} 100%, {{ page.color }} 100%){% endif %}">{{ page.title | markdownify | strip_html | trim  }}</span>
      </h1>

      <div class="group col--primary">
        <div class="col">
          <span class="post-ordinal" style="{% if page.color %} color: {{ page.color }};{% else %} color: #00B86B; {% endif %}">&#8470;{{ post_counter }}</span></div>
        <div class="col">
          {% include date.html type="page" %}
          {% include reading-time.html type="page" %}
        </div>
        <div class="col align-right">
          <span class="category"><span class="category-prefix">In</span><span class="category-label">{{page.category}}</span></span>
        </div>
      </div>

    </div>
  </div>

<div class="group" role="main">
  <section class="col col--primary">

    {% if page.category == 'archive' %}
      <p class="disclaimer">{% include post__archived.html %}</p>
      {% elsif page.disclaimer or page.discretion %}
      <p class="disclaimer">{{ page.disclaimer | markdownify | strip_html | trim }}</p>
      {% endif %}


    <ul id="test"></ul>

      {% if page.excerpt %}
      <div class="summary">
        {{ page.excerpt | markdownify }}
      </div>
      {% endif %}


    <article class="post-content post-type--{{ page.category }}" lang="en"{% if page.color %} style="border-color:{{ page.color }} {{ page.color }} {{ page.color2 }} {{ page.color2 }}; color: {{ page.color }};"{% endif %}>
      {{ content }}
    </article>

    {% include post__nexttime.html %}


    {% assign TodaysDate = "now" | date: '%Y-%m-%d' %}
    {% assign PromotionStartDate = page.cta-default-start | date: '%Y-%m-%d' %}
    {% assign PromotionEndDate = page.cta-default-end | date: '%Y-%m-%d' %}

    {% if TodaysDate >= PromotionStartDate and TodaysDate <= PromotionEndDate %}
    <div class="cta" {% if page.color %}style="background-color: {{ page.color }}; border-color: {{ page.color }};"{% endif %}>
      <h3>{{ page.cta-default-copy | markdownify | strip_html | trim }}</h3>
      <p>
        <a class="cta-link" href="{{ page.cta-default-url }}">{{ page.cta-default-label | markdownify | strip_html | trim }}</a>
      </p>
    </div>
    {% elsif page.cta-url %}
    <div class="cta" {% if page.color %}style="background-color: {{ page.color }}; border-color: {{ page.color }};"{% endif %}>
      <h3>{{ page.cta-copy | markdownify | strip_html | trim }}</h3>
      <p>
        <a class="cta-link" href="{{ page.cta-url }}">{{ page.cta-label | markdownify | strip_html | trim }}</a>
      </p>
    </div>
    {% else %}
    <div class="cta" {% if page.color %}style="background-color: {{ page.color }}; border-color: {{ page.color }};"{% endif %}>
      <h3>Know someone who would like this?</h3>
      <p>
        <span class="cta-link">Share this entry with a friend</span>
      </p>
    </div>
    {% endif %}

    {% include post__related.html %}
    {% include post__pager.html %}

  </section>
  <aside class="col col--secondary">

  {% include post__tags.html %}

  </aside>
</div>
</div>