---
layout: default
---
<div class="group" role="main">
  <section class="col--main">

    <header class="post-header">
      <h1 class="post-heading">{{ page.title }}</h1>

      <p class="align-center">{% include date.html type="page" %}</p>
      <p class="align-center">{% include reading-time.html type="page" %}</p>

      <p class="lead">{{ page.excerpt | markdownify | strip_html | trim }}</p>

    </header>

    <article class="post-content" lang="en">
      {{ content }}
    </article>

    {% include post__tags.html %}
    <hr>
    {% include post__pagination.html %}
    <hr>
    {% include disqus.html %}

  </section>
</div>