/* ==========================================================================


   Columns


   ========================================================================== */
.container {



}

.group {

	display: flex;
	flex: 1 0 auto;

	flex-direction: column;

	@include mq($breakpoint-desk) {

		flex-direction: row;

	};

}

.col {

	flex: 1 1 auto;

}

.col + .col {

	margin-top: 0;

}

.col--primary.col--primary {

	//max-width: 32em;

	flex: 1 0 auto;

	@include mq($breakpoint-desk) {

		max-width: 44.44444vw;

	}

}

.col--title.col--title {

	flex: 1 0 auto;

	@include mq($breakpoint-desk) {

		max-width: 66.6666vw;

	}

}

.col--secondary.col--secondary {

	max-width: 32em;
	flex: 1 1 auto;

	// background-image: linear-gradient(90deg, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.25) 50%);
	// background-size: 2em 2em;
	margin-top: 1.5em;

	@include mq($breakpoint-desk) {

		padding-left: 5.5555vw;
		margin-top: 0;
		// padding-top: 6em;

	};

}

/* Alignments
   ========================================================================== */
.align-right {

	@include mq($breakpoint-lap) {

		text-align: right;

	};

}

.valign {

	&--bottom {

		align-self: flex-end;

	}

}