/* ==========================================================================


   Branding colors


   ========================================================================== */


.colors {

	width: 100%;

	display: flex;
	flex-direction: column;

	margin: 0;

	/* Content pages dont have colour bands */
	&--content {

		//display: none;

	}

	&--personal {

		.color {

			&--primary { background-color: $secondary-color; }
			&--secondary { background-color: $tertiary-color; }
			&--tertiary { background-color: $white; }
			&--accent { background-color: $accent-color; }

		}

	}

	&--professional {

		// flex-direction: column-reverse;

		.color {

			&--primary { background-color: $primary-color; }
			&--secondary { background-color: $accent-color; }
			&--tertiary { background-color: $white; }
			&--accent { background-color: $tertiary-color; }

		}

	}

	@include mq($breakpoint-lap) {

		position: absolute;
		top: 0;
		right: 0;

		z-index: z("brand");

		width: auto;
		height: 100%;

		flex-direction: row-reverse;

		&--professional {

			// flex-direction: row;

		}

	};

}

.color {

	width: 100%;
	height: 2.7777vh;

	margin: 0;

	&--primary {

		background-image: radial-gradient($black 15%, transparent 16%),
		radial-gradient($black 15%, transparent 16%);
		background-size: em(16) em(16);
		background-position: 0 0, em(8) em(8);

		height: 2.7777vh;

		@include mq($breakpoint-lap) {

				width: 5.5555vw;
				height: 100%;

		};

	}

	&--secondary {

		height: 1.3888vh;

		@include mq($breakpoint-lap) {

				width: 2.7777vw;
				height: 100%;

		};

	}

	&--tertiary {

		height: 0.69444vh;

		@include mq($breakpoint-lap) {

				width: 1.3888vw;
				height: 100%;

		};

	}

	&--accent {

		height: 0.69444vh;

		@include mq($breakpoint-lap) {

				width: 1.3888vw;
				height: 100%;

		};

	}

	&--heading {

		position: absolute;
		top: 13em;
		left: 0;

		width: 100%;
		height: 1em;

		z-index: -1;

	}

}