/* ==========================================================================


   Navigation


   ========================================================================== */



.nav {

	// flex: 1 0 auto;
	width: 100%;

	margin: 0 auto 1.5em auto;

	display: flex;
	flex-direction: row;

	a:not(.logo) {

		margin-top: 0;
		margin-left: 0.5em;

	}

}