/* ==========================================================================


   Blockquotes


   ========================================================================== */
blockquote {

	padding: 3em 4.5em;

	margin-left: -4.5em;
	margin-right: -4.5em;

	border: 1em solid;
	border-width: 0.25em 0;
	border-color: inherit;

}

cite {

	display: block;
	margin-top: 1.5em;

}

cite:before {

	content: "\2014";

}