/* ==========================================================================


   Base.body


   ========================================================================== */
html {
	
	font-size: percentage($font-size/16);

	overflow-x: hidden;
	
	/* Keep momentum when scrolling in iOS */
	overflow-y: scroll; /* Has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;

}
body {

	font-size: 1em;
	line-height: 1.35;
	font-family: $font-family;

	background-color: $white;

	/* So we can have branding run along the entire height of the body */
	position: relative;

	@include mq($breakpoint-lap) {

		line-height: $font-leading/$font-size;

	};

}


.wrapper {

	margin: 0;

	padding-top: 5.5555vh;
	padding-bottom: 11.1111vh;

	padding-left: 5.5555vw;
	padding-right: 11.1111vw;	

	@include mq($breakpoint-lap) {

		// max-width: 66.6666vw;

		padding-top: 11.1111vh;
		padding-bottom: 22.2222vh;

		padding-left: 11.1111vw;
		padding-right: 22.2222vw;

	};

}