/* ==========================================================================


   Base.body


   ========================================================================== */
body {

	font-size: percentage($font-size/16) +0%;
	line-height: $font-leading/$font-size;
	font-family: $font-family;

	background-color: $white;

}