/* ==========================================================================


   Elements


   ========================================================================== */

abbr,
abbr[title] {
  
  text-decoration: none;

}
abbr[title] {

	cursor: help;
	border-bottom: 1px dotted $luma-50;

  &:before {

    content: attr(title) " ("; 

  }

  &:after {

      content: ")";

  }

}

small {

  // font-weight: $ui-weight;
  // font-family: $ui-family;
  /* 16/1.25 = 12.8/16 = 0.8 */
  font-size: 0.74em;
  // letter-spacing: 0.075em;

}

.small-caps {

  color: $black;

	/* Manually adjusted to mimic a small cap and fall within
	 * the x-height of the body font */	

	font-size: 0.74em;
  letter-spacing: 0.075em;
	text-transform: uppercase;
  /* Make the text faux bolder to mimic small-caps because the weight of
   * this should be similar to the weight of normal lowecase but it isn't */
  text-shadow: 0 0 0 $black;

}

sup,
sub {
  font-size: 0.74em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


mark {

  // background-color: #FFFF4D;
  background-color: rgba($mark-bg-color, 0.5);
  font-style: italic;

}

del {

  text-decoration: none;

  background-color: $luma-10;
  color: $luma-10;

}

ins {

  text-decoration: none;

  background-color: white;
  padding: 0 0.125em;
  // text-decoration: none;
  // border-bottom: 1px dashed $luma-50;

}