/* ==========================================================================


   Figures


   ========================================================================== */
figure {

	padding: 0;

	margin-top: 4.5em;
	margin-bottom: 4.5em;

	margin-left: -4.5em;
	margin-right: -4.5em;

	position: relative;

}

figure img { width: 100%; }

figure iframe,
figure embed {

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

}

figcaption {

	margin-left: (4.5 / 0.74) +em;
	margin-right: (4.5 / 0.74) +em;
	margin-top: 3em;

	max-width: 32em;

	// font-style: italic;
	text-transform: uppercase;
	font-size: 0.875em;
	font-size: 0.74em;

	// font-size: em($fontSize/$fontScale);
	// line-height: pow($fontScale, 1.25);

	color: $black;

	/**
	 *
	 * Automatic numbering with CSS Counters
	 *
	 */
	&:before {
		// content: "Figure\0000a0" counter(figureOrdinal)".\0000a0";
		counter-increment: figureOrdinal;
		font-size: 0.85em;
		text-transform: uppercase;
		// font-variant: small-caps;
		color: $luma-50;
	}

}

.media-video {

	overflow: hidden;

	width: 100%;
	height: 0;
	padding-top: 25px; /* Youtube chrome */
	padding-bottom: 56.25%;

	margin-left: auto;
	margin-right: auto;

}