/* ==========================================================================


   Headings


   ========================================================================== */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

	font-weight: $heading-weight;
	font-family: $heading-family;

	color: $black;

}

h1,
.h1.h1 {

	font-size: 3.375em;
	line-height: 1.10668;

	@include mq($breakpoint-lap) {

		font-size: 5.063em;
		line-height: 1.05;

	};

}

h2,
.h2.h2,
.post-content h1,
.page-content h1, {

	font-size: 2.25em;
	line-height: 1.22474;

	@include mq($breakpoint-lap) {

		font-size: 3.375em;
		line-height: 1.10668;

	};

}

h3,
.h3.h3,
.post-content h2,
.page-content h2, {

	font-size: 1.5em;
	line-height: 1.3554;

	@include mq($breakpoint-lap) {

		font-size: 2.25em;
		line-height: 1.22474;	

	};

}

h4,
.h4.h4,
.post-content h3,
.page-content h3, {

	font-size: 1em;
	line-height: 1.5;

	@include mq($breakpoint-lap) {

		font-size: 1.5em;
		line-height: 1.3554;

	};

}

h5,
.h5.h5,
.post-content h4,
.page-content h4, {

	font-size: 0.74em;
	line-height: 2.1622;

	@include mq($breakpoint-lap) {

		font-size: 1em;
		line-height: 1.5;

	};

}

h6,
.h6.h6,
.post-content h5,
.page-content h5, {

	font-size: 0.74em;
	line-height: 2.1622;

	@include mq($breakpoint-lap) {

		font-size: 1em;
		line-height: 1.5;

	};

}

.subheading {

	position: relative;

	padding-top: 1.5em;
	border-top: 0.1111em solid $luma-80;

	&:before {

		content: " ";
		display: block;

		width: 33.3333%;
		height: 0.1111em;

		position: absolute;
		top: -0.1111em;
		left: 0;

		background-color: $luma-50;

	}

}

.archive-subheading {

	margin-top: 1.5em;

}

.no-margin {

	margin: 0 !important;

}