/**
 * ===========================================================================
 *
 * Paragraphs
 *
 * ===========================================================================
 *
 */
p {
	margin-top: 0;
	margin-bottom: em($fontLeading);

	// -ms-word-break: break-all;
	// word-break: break-all;

	// Non standard for webkit
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;

	color: $black;

}
/**
 *
 * Apply to lead paragraph of posts
 *
 */
.lead {
	font-size: pow($fontScale, 1) +em;
	line-height: pow($fontScale, 0.75);

	@include mq($breakpointLap) {
		font-size: pow($fontScaleLap, 1) +em;
		line-height: pow($fontScaleLap, 0.75);
	};
}